{% block doctype %}
    <!doctype html>
    <html class="fixed">
{% endblock doctype %}
{% block meta %}
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
{% block title %}
    <title>{{ title }}</title>
{% endblock title %}
    <meta name="keywords" content="{{ title }}" />
    <meta name="description" content="{{ title }}">
    <meta name="author" content="ed@silesiacoin.org">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock meta %}
    {% block stylesheets %}
        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
              rel="stylesheet"
              type="text/css"
        >

        <!-- Vendor CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"
        >
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard/scdashboard.css') }}">


        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css"
        />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
        />
    {% endblock stylesheets %}
    {% block specific %}
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.theme.css" />
        <!-- Head Libs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1ń.0/date.min.js"></script>
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css"/>
        <!-- Head Libs -->
        <script src="{{ asset('assets/javascripts/modernizr/modernizr.js')}}"></script>

        <!-- Compiled JS for EC 5 with Require.js -->
        <script src="{{ asset('assets/javascripts/silesiacoin/main.js') }}"></script>

        {% include '/Account/accJs' %}
    {% endblock specific %}
    {% block rest %}
        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard/theme.css')}}" />

        <!-- Skin CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard/skins/default.css')}}" />

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/dashboard/theme-custom.css')}}">
    {% endblock rest %}
{% block scriptspec %}
{% endblock scriptspec %}
{% block taskbar %}
</head>
<body>
<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <a href="../" class="logo">
                <img src="{{ asset('assets/images/symbol/silesiacoin_medium.png')}}" height="35" alt="SilesiaCoin" />
            </a>
            <div class="visible-xs toggle-sidebar-left-xs" data-toggle-class="sidebar-left-xs" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <!-- Action buttons -->
        <div class="pull-left visible-lg-inline-block visible-xl-inline-block">
        <p style="padding: 10px;">
            <a class="popup-with-form btn btn-default btn-blue bg-success"
               href="#affiliate"
               reflink="{{ app.user.getRefCode }}"
            >Zaproś znajomego</a>
        {% if is_granted('ROLE_DEVELOPER') %}
        <a class="popup-with-form btn btn-default btn-sc-blue color-yellow btn-tertiary" href="#addContract">Wyślij SSC
        </a>
        {% endif %}
            </p>
            </div>
        <!-- Forms to action buttons -->
        <!-- Form -->
        <form id="affiliate" class="white-popup-block mfp-hide form-horizontal" method="post" action="">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Znajomi</h3>
                    <p class="mb-lg">
                        Zaproś swoich znajomych i odbierz 15%
                        </p>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>
                    Wyślij bezpośrednio link
                </h3>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">Twój Link</label>
                <div class="col-sm-9">
                    <input type="url"
                           name="affiliate-link"
                           class="form-control"
                           value="https://affiliate.silesiacoin.org/asfbjkfad-sdg-fshd445--345hj"
                           readonly
                    />

                </div>
            </div>
            <div class="col-xs-12">
                <h3>
                    Lub zaproś przez email
                </h3>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">Email znajomego</label>
                <div class="col-sm-9">
                    <input type="email" name="email" class="form-control" placeholder="Adres email" required/>
                </div>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">
                    Twoja wiadomość
                </label>
                <div class="col-sm-9">
                    <textarea name="affiliate-message" class="form-control" required>Cześć `email`, zapraszam Cię do wspaniałej przygody z SilesiaCoin!
                    </textarea>
                </div>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">Zapraszający</label>
                <div class="col-sm-9">
                    <input type="text" name="addingid" class="form-control" value="{{ app.user.id }}" readonly required/>
                </div>
            </div>
            <div class="row mb-lg">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn btn-sc-blue color-yellow">Zaproś!</button>
                    <button type="reset" class="btn btn-sc-yellow collor-blue">Resetuj</button>
                </div>
            </div>
        </form>
        <!-- end form addClient -->
        <!-- Form addContract -->
        <form id="addContract" class="white-popup-block mfp-hide form-horizontal" method="post" action="">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Wyślij SSC</h3>
                    <p class="mb-lg">
                        Prześlij znajomemu fundusze
                    </p>
                </div>
            </div>
            <div class="form-group mt-lg">
                <div class="col-sm-12">
                    <label class="col-sm-3 control-label" for="wallet-choice">
                        Dostępne portfele
                    </label>
                    <select id="wallet-choice" class="col-sm-9">
                        <option>Mój portfel główny</option>
                        <option>Portfel dodatkowy</option>
                        <option>Świnka Skarbonka</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">Adres portfela</label>
                <div class="col-sm-9">
                    <input type="text" name="wallet-adress" class="form-control" placeholder="Adres portfela" required/>
                </div>
            </div>
            <div class="form-group mt-lg">
                <label class="col-sm-3 control-label">Ilość</label>
                <div class="col-sm-9">
                    <input type="number" name="quantity" class="form-control" placeholder="ilość" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="contract-message">Twoja Wiadomość</label>
                <div class="col-sm-9">
                    <textarea id="contract-message"
                              name="description"
                              rows="5"
                              class="form-control"
                              required
                    >Cześć! Przesyłam Ci SilesiaCoin.</textarea>
                </div>
            </div>

            <div class="row mb-lg">
                <div class="col-sm-9 col-sm-offset-3">
                    <button class="btn btn-sc-blue color-yellow">Wyślij!</button>
                    <button type="reset" class="btn btn-sc-yellow color-blue">Resetuj</button>
                </div>
            </div>
        </form>
        <!-- end form addcontract-->
        {% if is_granted('ROLE_USER') %}
        <!-- start: search & user box -->
        <div class="header-right">


            <form action="{{ path('docs-index') }}" class="search nav-form">
                <div class="input-group input-search">
                    <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                    <span class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
							</span>
                </div>
            </form>

            <span class="separator"></span>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
            <ul class="notifications">
                {% if is_granted('ROLE_DEVELOPER') %}
                <li>
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">3</span>
                    </a>

                    <div class="dropdown-menu notification-menu large">
                        <div class="notification-title">
                            <span class="pull-right label label-default"><a href="">3</a></span>
                            Zadania
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Generating Sales Report</span>
                                        <span class="message pull-right text-dark">60%</span>
                                    </p>
                                    <div class="progress progress-xs light">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                </li>

                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Importing Contacts</span>
                                        <span class="message pull-right text-dark">98%</span>
                                    </p>
                                    <div class="progress progress-xs light">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                    </div>
                                </li>

                                <li>
                                    <p class="clearfix mb-xs">
                                        <span class="message pull-left">Uploading something big</span>
                                        <span class="message pull-right text-dark">33%</span>
                                    </p>
                                    <div class="progress progress-xs light mb-xs">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if is_granted('ROLE_DEVELOPER') %}
                <li>
                    <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="badge">4</span>
                    </a>

                    <div class="dropdown-menu notification-menu">
                        <div class="notification-title">
                            <span class="pull-right label label-default">230</span>
                            Wiadomości
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <i class="img-circle fa fa-user"></i>
                                        </figure>
                                        <span class="title">Basia</span>
                                        <span class="message">Samym lodem się nie najem. Chcę coś więcej</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <i class="img-circle fa fa-user"></i>
                                        </figure>
                                        <span class="title">Kate</span>
                                        <span class="message truncate">Czekam na Ciebie w biurze.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <i class="img-circle fa fa-user"></i>
                                        </figure>
                                        <span class="title">Bartek</span>
                                        <span class="message">Czemu ten kibel jest taki brudny?</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <figure class="image">
                                            <i class="img-circle fa fa-user"></i>
                                        </figure>
                                        <span class="title">Misia</span>
                                        <span class="message">Jak tam po wczoraj? Świetnie się tańczyło</span>
                                    </a>
                                </li>
                            </ul>

                            <hr />

                            <div class="text-right">
                                <a href="" class="view-more">Wszystkie</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="badge">3</span>
                    </a>
                    <div class="dropdown-menu notification-menu">
                        <div class="notification-title">
                            <span class="pull-right label label-default">3</span>
                            Alerty
                        </div>

                        <div class="content">
                            <ul>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-thumbs-down bg-danger"></i>
                                        </div>
                                        <span class="title">Server Kaput!</span>
                                        <span class="message">Just now</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-lock bg-warning"></i>
                                        </div>
                                        <span class="title">Blokada Ekranu</span>
                                        <span class="message">15 minutes ago</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="clearfix">
                                        <div class="image">
                                            <i class="fa fa-signal bg-success"></i>
                                        </div>
                                        <span class="title">Ponowienie połączenia</span>
                                        <span class="message">10/02/2017</span>
                                    </a>
                                </li>
                            </ul>

                            <hr />

                            <div class="text-right">
                                <a href="" class="view-more">Pokaż wszystko</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>

            <span class="separator"></span>
            {% endif %}

            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <figure class="profile-picture">
                        <img src="{{ asset('assets/images/!logged-user.jpg') }}"
                             alt="Joseph Doe" class="img-circle fa fa-user"
                             data-lock-picture="{{ asset('assets/images/!logged-user.jpg') }}"
                        />
                    </figure>
                    <div class="profile-info" data-lock-name="{{ app.user.username }}" data-lock-email="{{ app.user.username }}">
                        <span class="name">{{ app.user.username }}</span>
                        <span class="role"></span>
                    </div>

                    <i class="fa custom-caret"></i>
                </a>

                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a role="menuitem" tabindex="-1" href=""><i class="fa fa-user"></i> Mój Profil</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="" data-lock-screen="true"><i class="fa fa-lock"></i> Zablokuj</a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Wyloguj</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->
    {% endblock taskbar%}
    {% block sidebar %}
    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">

            <div class="sidebar-header">
                <div class="sidebar-title">
                    Nawigacja
                </div>
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li class="nav-active">
                                <a href="{{ path('pulpit') }}">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Pulpit</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ path('client_downloads', {"pkgName" : "ssc"}) }}"
                                   target="_blank"
                                ><i class="fa fa-download" aria-hidden="true"></i>
                                    <span>Pobierz Klienta</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="{{ path('news') }}" target="_blank">
                                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    <span>Newsy</span>
                                </a>
                            </li>
                            {% if is_granted('ROLE_USER') %}
                                {% block refLink %}
                                    <li class="" reflink="{{ app.user.getRefCode }}">
                                        <a href="#affiliate"    >
                                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                                            <span>Poleć Silesiacoin</span>
                                        </a>
                                    </li>
                                {% endblock refLink %}
                                {% if is_granted('ROLE_DEVELOPER') %}
                                    <li class="">
                                        <a href="{{ path('sscShowWallets') }}">
                                            <i class="fa fa-columns" aria-hidden="true"></i>
                                            <span>Portfel</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if is_granted('ROLE_DEVELOPER') %}
                                <li class="">
                                    <a href="{{ path('app_default_showminerpage') }}" target="_blank">
                                        <i class="fa fa-dashboard" aria-hidden="true"></i>
                                        <span>Fedruj SilesiaCoin</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_DEVELOPER') %}

                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    <span>Kalendarz</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="">
                                            Nadchodzące wydarzenia
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="">
                                    <span class="pull-right label label-primary">182</span>
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span>Wiadomości</span>
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-parent">
                                <a>
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                    <span>Wskazówki</span>
                                </a>
                                <ul class="nav nav-children">
                                    <li>
                                        <a href="{{ path('docs-index') }}" target="_blank">
                                            Baza wiedzy
                                        </a>
                                    </li>
                                    {% if is_granted('ROLE_DEVELOPER') %}
                                        <li>
                                            <a href="#">
                                                Forum
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {% block statusBar %}
                    <hr class="separator" />

                    <div class="sidebar-widget widget-tasks">
                        <div class="widget-header">
                            <h6>Status</h6>
                            <div class="widget-toggle">+</div>
                        </div>
                        <div class="widget-content">
                            <ul class="list-unstyled m-none">
                                <li><a href="#">PreSale</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock statusBar %}
                    {% if is_granted('ROLE_DEVELOPER') %}
                    <hr class="separator" />

                    <div class="sidebar-widget widget-stats">
                        <div class="widget-header">
                            <h6>Twój poziom</h6>
                            <div class="widget-toggle">+</div>
                        </div>
                        <div class="widget-content">
                            <ul>
                                <li>
                                    <span class="stats-title">Awans</span>
                                    <span class="stats-complete">10%</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                            <span class="sr-only">85% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="stats-title">Poziom 1: Praktykant. 100pkt</span>
                                    <span class="stats-complete">70%</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                            <span class="sr-only">70% Complete</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}

                <script>
                    // Maintain Scroll Position
                    if (typeof localStorage !== 'undefined') {
                        if (localStorage.getItem('sidebar-left-position') !== null) {
                            var initialPosition = localStorage.getItem('sidebar-left-position'),
                                sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                            sidebarLeft.scrollTop = initialPosition;
                        }
                    }
                </script>
            </div>
        </aside>
        <!-- end: sidebar -->
{% endblock sidebar %}
{% block page %}
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>{{ title }}</h2>

                <div class="right-wrapper pull-right">
                    <ol class="breadcrumbs">
                        <li>
                            <a href="">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li><span>{{ title }}</span></li>
                    </ol>

                    <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                </div>
            </header>
<!-- start: page -->
{% block firstRow %}
                <div class="row">
                {% block actual %}
                {% endblock actual %}
            </div>
{% endblock firstRow %}
{% block seccondRow %}
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <section class="panel">
                        <header class="panel-heading panel-heading-transparent">
                            <div class="panel-actions">
                                <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                                <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                            </div>

                            <h2 class="panel-title">
                                Cele
                            </h2>
                        </header>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped mb-none">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Kamień milowy</th>
                                        <th>Status</th>
                                        <th>Progress</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Proof of work</td>
                                        <td><span class="label label-success">Success</span></td>
                                        <td>
                                            <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    100%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Proof of concept</td>
                                        <td><span class="label label-success">Success</span></td>
                                        <td>
                                            <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                                    100%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Comercialize for enthusiasts</td>
                                        <td><span class="label label-warning">In progress</span></td>
                                        <td>
                                            <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    60%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Social trust</td>
                                        <td><span class="label label-warning">In progress</span></td>
                                        <td>
                                            <div class="progress progress-sm progress-half-rounded m-none mt-xs light">
                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    20%
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
{% endblock seccondRow %}
        <!-- end: page -->
        </section>
    </div>
{% endblock page %}
{% block sideright %}
    <aside id="sidebar-right" class="sidebar-right">
        <div class="nano">
            <div class="nano-content">
                <a href="#" class="mobile-close visible-xs">
                    Collapse <i class="fa fa-chevron-right"></i>
                </a>

                <div class="sidebar-right-wrapper">

                    <div class="sidebar-widget widget-calendar">
                        <h6>Upcoming Tasks</h6>
                        <div data-plugin-datepicker data-plugin-skin="dark" ></div>

                        <ul>
                            <li>
                                <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                <span>Company Meeting</span>
                            </li>
                        </ul>
                    </div>

                    <div class="sidebar-widget widget-friends">
                        <h6>Friends</h6>
                        <ul>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="{{ asset('assets/images/sample-user.jpg') }}"
                                         alt="Joseph Doe"
                                         class="img-circle"
                                    >
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-online">
                                <figure class="profile-picture">
                                    <img src="{{ asset('assets/images/sample-user.jpg') }}"
                                         alt="Grzegorz Marcin"
                                         class="img-circle"
                                    >
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="{{ asset('assets/images/sample-user.jpg') }}"
                                         alt="Joseph Doe"
                                         class="img-circle"
                                    >
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                            <li class="status-offline">
                                <figure class="profile-picture">
                                    <img src="{{ asset('assets/images/sample-user.jpg') }}"
                                         alt="Grzegorz Marcin"
                                         class="img-circle"
                                    >
                                </figure>
                                <div class="profile-info">
                                    <span class="name">Joseph Doe Junior</span>
                                    <span class="title">Hey, how are you?</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>
</section>


{% endblock sideright %}
{% block scriptlib %}
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"
        >
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

        <!-- Specific Page Vendor -->
        <script src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.js"></script>

        {#<script src="{{ asset('lib/js/compiled/index.js') }}"></script>#}
    {% endblock %}
        </body>
    </html>
