body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

.downloadBody {
    display: grid;
    grid-template-rows: 60px repeat(auto-fill, minmax(400px, auto));
}

.downloadBody__menu {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    grid-gap: 5px;
    position: sticky;
}

.downloadBody__menu--title {
    height: 20px;
    overflow: hidden;
    justify-self: end;
    margin-right: 40px;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.downloadBody__menu--items {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 100px);
    color: white;
    align-items: center;
}

.downloadBody__menu--items a {
    font-weight: normal;
    overflow: hidden;
    max-height: 60px;
    text-decoration: none;
    color: white;
}

.downloadBody__menu--items .download {
    justify-self: center;
    background: #004a93;
}

.downloadBody__currentVersion {
    display: grid;
    grid-row: 2;
    align-items: end;
    text-align: center;
    justify-items: center;
    font-size: 20px;
    font-weight: lighter;
    background: white;
}

.downloadBody__currentVersion--header {
    font-weight: bold;
    margin-bottom: -40px;
}

.downloadButton {
    margin: 10px;
}

@media screen and (max-width: 500px) {
    .downloadBody__currentVersion--header {
        margin-bottom: 0;
    }
}