<html>
<body>
<h1>
    Obejrzyj go tam w tym
</h1>
<table>
    <tr>
    <tr>
        <th>Name</th>
        <th>Val</th>
    </tr>
    {% for item in useful %}
    <tr>
        <td>
            {{ item.key }}
        </td>
        <td>
            {{ item.value }}
        </td>
        <td>
            {{ item.value2 }}
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>