
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background: url('/assets/images/bg-silesia.png'), rgba(0, 91, 187, 0.25) no-repeat fixed;
    background-size: contain, auto;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100%;
    font: 16px/1 'Open Sans', sans-serif;
    color: #777;

    line-height: 55px;
    font-size: 18px;
    letter-spacing: 1px;
}

.invisible {
    display: none;
}
/* Both mobile and desktop */
.themeButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}
.scrollable {
    overflow: scroll;
}
.wallet-div a{
    text-decoration: none;
    color: #005bbb;
    border-bottom: solid 1px #ffd500;
    font-size: 12px;
}
.wrapper {
    width: 100%;
    height: 100%;
}

aside {
    position: fixed;
    width: 212px;
    height: 100%;
    border-right: 2px solid #ffffff;
    background-color: #fff;
    padding: 20px 10px 0 10px;
    float: left;
    Z-index: 1;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #005bbb ;
    margin: 0px auto;
    overflow: hidden;

}

.navigation {
    border-top: 1px solid #005bbb ;
    margin-top: 20px;
}

.navigation a {
    color: #666;
    text-decoration: none;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.navigation li:hover {
    text-decoration: none;
    padding-left: 10px;
    transition: padding 200ms;
    background: #ffd500;
}

.navigation li:active > a {
    opacity: 0.8;
}

ul, li{
    user-select: none;
    list-style-type: none;
    padding: 0px;
    line-height: 35px;
    color: #FFFFFF;
    transition: padding 200ms;
}

.modal {
    margin: 10px 0px 10px 0;

}
.prodictname {
    padding:10px;
}
.productname h2 {
    text-align:center;
    position:relative;
    font-size: 40px;
    font-weight: 300;
}
.box h3{
    text-align:center;
    position:relative;
    --top:80px;
}
.box {
    padding:10px;
    --width:70%;
    --height:200px;
    background:#FFF;
    --margin:40px auto;
    background:#FFF;
    --border-width: 1px;
    --border-style:solid;
}
.effect2
{
    position: relative;
}
.effect2:before, .effect2:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.effect2:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
.modal-head {
    width: 100%;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(to bottom, #454545 0%,#3e3e3e 100%);
}

.modal-title {
    color: #FFFFFF;
}

.modal-content {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.modal-wrap {
    float: left;
    width: 100%;
}

.col-10-10{
    width: 100%;
}

.col-7-10{
    width: 75%;
}

.col-5-10{
    width: 50%;
}

.col-2-10{
    width: 25%;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;
}

[class*='col-']:last-of-type {
    padding-right: -10px;
}

.menu-bar {
    width: 100%;
    background: #cc0033;
    display: none;
}

.menu-bar .title {
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 1.3em;
    font-weight: normal;
    user-select: none;
    padding: 10px;
}
@media only screen
    and (min-width: 1024px) {
    .header {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 50px;
        align-content: center;
        justify-items: stretch;
        grid-gap: 10px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-column-align: center;
        -ms-grid-rows: 50px;
        position: fixed;
        height: 100px;
        width: 40%;
        right: 50px;
        padding: 10px 0px 2px 20px;
        border-bottom: inset 1px whitesmoke;
    }
    .header a {
        position: relative;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }
    .header a:hover{
        opacity: 0.5;
    }
    .header a img {
        height: 24px;
        max-width: 100%;
        top: 50%;
        margin-top: -12px;
        position: absolute;
    }
    .header a span {
        position: absolute;
        top: 50%;
        color: #005bbb;
        font-weight: bolder;
        font-size: 14px;
    }
    .header-title {
        grid-row: 1;
        grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    .header-price {
        display: grid;
        grid-column: 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        display: -ms-grid;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        grid-gap: 10px;
    }
    .header-fast-price {
        cursor: pointer;
        -ms-grid-row: 1;
        height: 50px;
        position: relative;
    }
    .header-fast-price:hover{
        opacity: 0.5;
    }
    .header-fast-price img {
        height: 24px;
        max-width: 100%;
        top: 50%;
        margin-top: -12px;
        left: 50%;
        margin-left: -12px;
        position: absolute;
    }
    .header-fast-price span {
        position: absolute;
        top: 50%;
        left: 10%;
        color: #005bbb;
        font-weight: bolder;
        font-size: 14px;
    }
    .header-fast-price:first-child {
        -ms-grid-column: 1;
    }
    .header-fast-price:nth-child(2) {
        -ms-grid-column: 2;
    }
    .header-fast-price:last-child {
        -ms-grid-column: 3;
    }
    .header h2 {
        font-weight: 500;
        color:#005bbb;
    }
    .main-grid {
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, calc(33vh - 45px));
        grid-auto-rows: calc(33vh - 45px);
        grid-gap: 10px;
        min-height: calc(100vh - 100px);
        width: calc(100vw - 232px);
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        top: 100px;
        left: 212px;
        padding: 15px;
    }
    .wallet-title {
        padding: 10px 0 0 10px;
        color: white;
        grid-row: 1;
        z-index: 4;
        position: relative;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 3fr 3fr;
        display: -ms-grid;
        -ms-grid-columns: 1fr 3fr 3fr;
        align-content: stretch;
        justify-content: stretch;
        background: #005bbb;
    }
    .wallet-title img {
        max-height: 50px;
        -ms-grid-column: 1;
    }
    .wallet-title span {
        -ms-grid-column: 2;
    }
    .wallet-title input {
        -ms-grid-column: 3;
        height: 30px;
        align-self: end;
        background: whitesmoke;
        border: inset #005bbb;
    }
    .my-scroll {
        grid-row: 2;
        padding: 10px;
        top: 60px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        background: whitesmoke;
    }
    .nice-box {
        position: relative;
        border-radius: 5px;
        box-shadow: 5px 5px silver;
        background: whitesmoke;
    }
    .trader {
        background: whitesmoke;
    }
    .trader a {
        text-decoration: none;
    }
    .trader-header {
        float: left;
        padding: 10px;
    }
    .trader-header img{
        max-height: 40px;
    }
    .buy-me {
        padding: 10px;
        background: #005bbb;
        height: 60px;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    .buy-me-grid {
        display: grid;
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 20%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
        -ms-grid-row-align: center;
        -ms-grid-column-align: center;
        padding: 20px;
    }
    .buy-me-choice {
        border: solid 1px #ffd500;
        background: white;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        box-shadow: 5px 5px silver;
        text-decoration: none;
        color: #005bbb;
        font-weight: bold;
    }
    .buy-me-choice:hover {
        opacity: 0.75;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
    }
    .buy-me-choice img {
        max-height: 100%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .buy-me-choice span {
        padding: 10px;
    }
    .trade-me-grid {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-content: start;
        justify-content: start;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .buy-me-form-wrapper form{
        display: grid;
        grid-template-columns: 1fr 2fr;
        display: -ms-grid;
        -ms-grid-columns: 1fr 2fr;
        grid-gap: 10px;
    }
    .buy-me-form-wrapper form input {
        height: 30px;
        align-self: center;
        width: 100%;
    }
    .buy-me-form-wrapper form .themeButton {
        grid-column: 2;
        -ms-grid-column: 2;
    }
    .column-1-1 {
        grid-column: 1;
        -ms-grid-column: 1;
    }
    .column-1-2 {
        grid-column: 2;
        -ms-grid-column: 2;
    }
    .column-1-3 {
        grid-column: 3;
        -ms-grid-column: 3;
    }
    .column-2-1 {
        grid-column: 1 / 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .column-2-2 {
        grid-column: 2 / 4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }
    .column-3-1 {
        grid-column: 1;
        column-span: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    .row-2-1 {
        grid-row: 1 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
    }
    .row-2-2 {
        grid-row: 2 / 4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
    }
    .row-3-1 {
        grid-row: 1 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
    }
}
@media only screen
and (min-width : 768px)
and (max-width : 1024px){

    ul, li{
        text-align: center;
        user-select: none;
        list-style-type: none;
        padding: 0px;
        line-height: 80px;
        color: #FFFFFF;
        font-size: 1.4em;
    }

    .col-10-10{
        width: 100%;
    }

    .col-7-10{
        width: 100%;
    }

    .col-5-10{
        width: 100%;
    }

    .col-2-10{
        width: 100%;
    }
}

@media only screen
and (max-width : 767px){

    body {
        background:#ccc;
    }

    aside {
        top: 0px;
        display: none;
    }
    .cover {
        padding: 10px 0 0 10px;
    }
    .menu-bar {
        width: 100%;
        height: 50px;
        background: #005bbb;
        display: block;
    }
}
