@font-face {
    font-family: HKGrotesk, sans-serif;
    src: url('/public/assets/fonts/HKGrotesk-Regular.ttf') format("ttf");
}
@font-face {
    font-family: Dosis, sans-serif;
    src: url('/public/assets/fonts/Dosis-Regular.ttf') format("ttf");
}
html,body {
    min-height: 100%;
    height: 100vh;
    position: relative;
}
.container-fluid {
    min-height: 100%;
}
.bgBlue {
    background-color: #0025aa;
}
.container--pt {
    padding-top: 71px;
}
.bg {
    content: "";
    background: url('https://storage.googleapis.com/ssc-assets/Developers_Pack/Photography/Home/background.jpg') no-repeat center right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid 1px #979797;
    min-height: 100%;
    height: 100vh;
    margin-top: -55px;
}
.bgContainer {
    min-height: 100%;
}
.scrollIconContainer {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    justify-content:flex-start;
    cursor: pointer;
    margin-bottom: 2rem;
}
.scrollIconContainer img {
    object-fit: contain;
    width: 20px;
}
.textByIconScroll {
    font-family: Dosis, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e7b41d;
    margin-left: 1rem;
}
.Time-is-go-on-get-a {
    font-family: Dosis, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top:8rem;
    margin-bottom: 2.5rem;
  }
.Number-text-banner {
    font-family: HKGrotesk, sans-serif;
    font-size: 65px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 2.5rem;
}
.Welcome-in-revolution {
    font-family: HKGrotesk, sans-serif;
    font-size: 38px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 2.5rem;
}
.We-are-a-network-wit {
    font-family: Dosis, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 2.5rem;
}
.main-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
}
.bg-white {
    background-color: #ffffff;
}
.gap {
    height: 175px;
}
.box-container{
    padding: 0 2rem;
}
.box-container-title{
    font-family: HKGrotesk, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1f003f;
}
.box-container-desc {
    font-family: Dosis, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #184ca2;
}
.line {
    width: 20%;
    height: 4px;
    background-color: #ffd600;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}
.bg-purple {
    background-color: #1f003f;
}
.col-padding-zero {
    padding: 0!important;
}
.marginZeroWidthFull {
    margin: 0 auto;
    width: 100%;
}
.All-right-reserved {
    font-family: HKGrotesk, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #707070;
    text-align: center;
    padding-top: 1.25rem;
  }
@media only screen and  (max-width: 719px) {
    .bg {
        content: "";
        background: url('https://storage.googleapis.com/ssc-assets/Developers_Pack/Photography/Home/background.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .order-text-last {
        order: 13;
        margin-top: 5rem;
    }
    .Welcome-in-revolution {
        margin-top: 10rem;
        padding-left: 2rem;
    }
    .We-are-a-network-wit {
        padding-left: 2rem;
    }
    .scrollIconContainer {
        padding-left: 2rem;
    }
    .gap{
        height: 75px;
    }
    .box-container img{
        margin-top: 7.5rem;
    }
    .padding-left-mobile{
        padding-left: 3px!important;
    }
    .padding-right-mobile{
        padding-right: 3px!important;
    }
    .box-container-title {
        font-size: 24px!important;
    }
}
@media only screen and (min-width: 720px) {
    .order-text-last {
        order: unset;
        margin-top: 0;
    }
    .Welcome-in-revolution {
        margin-top: 0;
        padding-left: 0;
    }
    .We-are-a-network-wit {
        padding-left: 0;
    }
    .scrollIconContainer {
        padding-left: 0;
    }
    .gap{
        height: 175px;
    }
    .box-container img{
        margin-top: 0;
    }
    .padding-left-mobile{
        padding-left: 15px!important;
    }
    .padding-right-mobile{
        padding-right: 15px!important;
    }
    .box-container-title {
        font-size: 36px!important;
    }
}
