body {
    background-color: #1f003f;
}
.tree-title {
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff!important;;
    margin:0;
}
.tree-desc {
    font-family: Dosis, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff!important;;
    padding: 0 3rem;
    margin: 0;
}
.tree-padding {
    padding: 2rem 0;
}
.tree-button {
    border-radius: 12px;
    border: solid 1px #e7b41d;
    padding: 0.5rem 1.8rem;
    color: #e7b41d;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}
.tree-end {
 padding-bottom: 12rem;
}
.svg-center {
    margin:0 auto;
    width:100%
}
.Choose-your-path {
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff!important;
    text-align: center;
}
.Our-organization-is {
    font-family: Dosis, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff!important;
    padding: 0 3rem;
}
@media only screen and  (max-width: 719px) {
    .Choose-your-path {
        background-color: white;
        padding: 1rem;
        color: #1f003f!important;
        margin-top: 0;
    }
    .bg-blue-tree {
        background-color: #0025aa;
    }
    .tree-desc {
        text-align: left!important;
        font-size: 18px!important;
        color: white!important;
    }
    .tree-button {
        border: solid 1px #F8E71B!important;
        padding: 0.7rem 4rem!important;
        color: #f8e71c!important;
        font-size: 14px!important;
    }
    .bg-yellow-tree {
        background-color: #e7b41d!important;
    }
    .tree-till{
        min-height: 100vh;
    }
    .Our-organization-is {
        margin: 2rem 0;
    }
    .tree-title p{
        color: white;
        text-align: left;
    }
    .tree-desc p{
        text-align: left!important;
        font-size: 18px!important;
        color: white!important;
    }
}
@media only screen and (min-width: 720px) {
    .Choose-your-path {
        background-color: transparent;
        padding: 0;
        margin-top: 8rem;
    }
    .Our-organization-is {
        margin: 3rem 0 5rem;
    }
    .tree-desc p{
        text-align: center!important;
        font-size: 24px!important;
        color: white!important;
    }
    .tree-title p{
        color: white;
        text-align: center;
    }
}