.ssc-logo-circle {
    background: url("../../images/symbol/silesiacoin_medium.png") no-repeat;
    background-size: contain;
}
.btc-logo-circle {
    background: url("../../images/symbol/bitcoin.png") no-repeat;
    background-size: contain;
}
.ltc-logo-circle {
    background: url("../../images/symbol/litecoin.png") no-repeat;
    background-size: contain;
}
.eth-logo-circle {
    background: url("../../images/symbol/eth.png") no-repeat;
    background-size: contain;
}

.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.pointer {
    cursor: pointer;
}

.nav-active {
    background: rgba(0, 91, 187, 0.3);
}
.nav li:hover{
    background: rgba(255, 213, 0, 0.3);
}

.btn-sc-blue {
    background: #005bbb;
}
.btn-sc-yellow {
    background: #ffd500;
}
textarea {
    color: #005bbb;
}
.crypto-more-info form{
    display: grid;
    grid-template-columns: 1fr 2fr;
    display: -ms-grid;
    -ms-grid-columns: 1fr 2fr;
    grid-gap: 10px;
}
.right-submit {
    align-self: center;
    justify-self: end;
    grid-column: 2;
}

[walletDownload]:hover {
    cursor: pointer;
}
