:root {
    --cobalt-blue: #0025aa;
    --white: #FFFFFF;
    --shadow-gray: rgba(157, 157, 157, 0.5);
}
/* The container */
.container-checkbox {
     display: block;
     position: relative;
     padding-left: 35px;
     margin-bottom: 12px;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}
.container-checkbox--width{
     max-width: 150px;
}
/* Hide the browser's default checkbox */
.container-checkbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
}
/* Create a custom checkbox */
.checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: var(--white);
     border-radius: 3px;
     box-shadow: 0 0 4px 0 var(--shadow-gray)
}
/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
     background-color: var(--white);
}
/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
     background-color: var(--white);
     border: solid 1px var(--cobalt-blue);
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
     content: "";
     position: absolute;
     display: none;
}
/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
     display: block;
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
     left: 7px;
     top: 3px;
     width: 5px;
     height: 10px;
     border: solid var(--cobalt-blue);
     border-width: 0 1px 1px 0;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
}
