:root {
    --light-purple: #F0F0FE;
    --white: #FFFFFF;
    --cobalt-blue: #0025aa;
    --light-gray: #88889c;
    --midnight-purple: #312756;
    --normal-blue: #184ca2;
    --shadow-two: rgba(166, 166, 166, 0.5);
    --midnight-purple-two: #1f003f;
    --squash: #e7b41d;
    --black: #000000;
    --blank-gray: #979797;
    --border-gray: #e3e3e3;
    --border-light-gray: #e1e1e1;
    --shadow-avatar: rgba(157, 157, 157, 0.5);
    --blue-shadow: #4566dc;
}
tr {
    width: 100%;
}
button {
    outline: none!important;
    box-shadow: none!important;
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}
button:hover {
    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;
}
@media screen and (max-width: 991px) {
    .navbar-after-login{
        background-color: var(--midnight-purple);
        position: fixed;
        bottom: 0;
        z-index: 2;
        width: 100vw;
        height: auto;
    }
    .component-desktop{
        display: none;
    }
    .component-mobile{
        display: block;
    }
    .navbar-after-login__logo{
        display: none;
    }
    .container-bonus-left-padding{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .desktop-md-display{
        display: none;
    }
    .mobile-md-display{
        display: initial;
    }
}
@media screen and (min-width: 992px) {
    .desktop-md-display{
        display: initial;
    }
    .mobile-md-display{
        display: none;
    }
    .container-bonus-left-padding{
        padding-left: 80px!important;
        padding-right: 0!important;
    }
    .component-desktop{
        display: block;
    }
    .component-mobile{
        display: none;
    }
    .navbar-after-login{
        background-color: var(--midnight-purple);
        position: fixed;
        bottom: 0;
        z-index: 2;
        left: 0;
        height: 100vh;
        width: 80px;
    }
    .navbar-after-login__logo{
        display: initial;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .user-panels__button{
        float: contour;
    }
    .user-panels__wallet-body__button{
        float: contour;
    }
}
@media screen and (min-width: 576px){
    .dashboard-input{
        width: 220px!important;
    }
    .user-panels__button{
        width: auto;

    }
    .user-panels__wallet-body__button{
        width: auto;
    }
}
@media screen and (max-width: 575px){
    .dashboard-input{
        width: 140px!important;
    }
    .user-panels__button{
        width: 100%;
    }
    .user-panels__wallet-body__button{
        width: 100%;
    }
}
@media screen and (min-width: 768px){
    .coin-panel__eth{
        max-height: 82px;
    }
    .overlap{
        font-family: HKGrotesk, sans-serif;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    .coin-panel__text{
        font-family: Dosis, sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--normal-blue);
        overflow: hidden;
    }
    .coin-panel__image{
        margin: 30px;
        height: 40px;
        width: auto;
    }
    .coin-panel{
        min-height: 140px;
        width: 102px;
        border-radius: 8px;
        box-shadow: 0 0 4px 1px var(--shadow-two);
        background-color: var(--white);
    }
    .yellow-button--size{
        font-size: 16px;
    }
    .yellow-button{
        font-family: HKGrotesk, sans-serif;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--squash);
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .padding-left-sm{
        padding-left: 60px;
    }
    .padding-left-bg{
        padding-left: 70px;
    }
    .profile-avatar{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor:pointer;
        outline: none;
        background: transparent;
        border: none;
        padding: 0;
        z-index: 3;
    }
    .dashboard-name--purple{
        font-size: 24px;
        color: var(--midnight-purple-two);
    }
    .mobile-display{
        display: none;
    }
    .desktop-display{
        display: initial;
    }
    .dashboard-avatar{
        width: 75px;
        height: 75px;
        background-color: var(--white);
        border-radius: 50%;
        display: block;
        box-shadow: 0 0 4px 0 var(--shadow-avatar);
    }
    .profile-panel{
        position: absolute;
        top: 75px;
    }
    .container-padding{
        padding-left: 8%!important;
        padding-right: 8%!important;
    }
    .dashboard-ssc--main{
        font-size: 18px;
    }
    .user-panels__text--desktop{
        font-size: 18px!important;
        text-align: center;
    }
    .profile-avatar__avatar{
        width: 35px;
        height: 35px;
    }
    .search-item{
        margin-left: 80px;
        padding-left: 7.5%;
        display: block;
        position: absolute;
        left: 0;
        top: 32px;
    }
}
@media screen and (max-width: 767px){
    .user-panels--rounded{
        border-radius: 0!important;
    }
    .dashboard-progress{
        overflow: hidden;
        display: flex;
        background-color: var(--white);
        height: 7px;
        border-radius: 6px;
        box-shadow: 0 1px 4px 0 rgba(157, 157, 157, 0.5)
    }
    .dashboard-profile--bg{
        font-size: 14px;
    }
    .yellow-button__wallet{
        height: 28px;
        width: auto;
    }
    .profile-avatar{
        position: fixed;
        top: 20px;
        right: 20px;
        cursor:pointer;
        outline: none;
        background: transparent;
        border: none;
        padding: 0;
        z-index: 3;
    }
    .dashboard-text--sm-desktop{
        font-size: 24px;
        font-weight: 500;
    }
    .coin-panel{
        min-height: 75px;
        width: 51px;
        border-radius: 8px;
        box-shadow: 0 0 4px 1px var(--shadow-two);
        background-color: var(--white);
    }
    .coin-panel__image{
        margin: 12px;
        height: 25px;
        width: auto;
    }
    .coin-panel__text{
        font-size: 14px;
        font-family: Dosis, sans-serif;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--normal-blue);
        overflow: hidden;
    }
    .dashboard-text--md{
        font-size: 14px;
        font-weight: 600;
    }
    .overlap{
        font-size: 14px;
        text-align: center;
        font-family: HKGrotesk, sans-serif;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
    .profile-avatar__avatar__image{
        margin-top: 3px;
        width: 32px;
        height: auto;
    }
    .dashboard-avatar__image{
        margin-top: 2px;
        margin-left: 8px;
        width: 46px;
        height: auto;
    }
    .yellow-button--size{
        font-size: 14px;
    }
    .yellow-button{
        font-family: HKGrotesk, sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: var(--squash);
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    .user-panels__wallet{
        height: 32px;
        width: auto;
    }
    .dashboard-wallet{
        height: 32px;
        width: auto;
    }
    .dashboard-name--purple{
        font-size: 18px;
        color: var(--midnight-purple-two);
    }
    .desktop-display{
        display: none!important;
    }
    .mobile-display{
        display: block;
    }
    .dashboard-avatar{
        width: 60px;
        height: 60px;
        background-color: var(--white);
        border-radius: 50%;
        display: block;
        box-shadow: 0 0 4px 0 var(--shadow-avatar);
    }
    .profile-panel{
        position: fixed;
        top: 85px;
    }
    .dashboard-ssc--main{
        font-size: 14px;
    }
    .profile-avatar__avatar{
        width: 45px;
        height: 45px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .search-item{
        margin-left: 0!important;
        padding-left: 7.5%;
        display: block;
        position: absolute;
        left: 0;
        top: 32px;
    }
}
@media screen and (min-width: 768px){
    .dashboard-progress{
        overflow: hidden;
        display: flex;
        background-color: var(--white);
        height: 4px;
        border-radius: 6px;
        box-shadow: 0 1px 4px 0 rgba(157, 157, 157, 0.5)
    }
    .dashboard-profile--bg{
        font-size: 18px;
    }
    .dashboard-text--sm-desktop{
        font-size: 14px;
        font-weight: 500;
    }
    .dashboard-text--md{
        font-size: 18px;
        font-weight: 600;
    }
    .profile-avatar__avatar__image{
        margin-top: 2px;
        width: 26px;
        height: auto;
    }
    .dashboard-avatar__image{
        margin-top: 2px;
        margin-left: 8px;
        width: 59px;
        height: auto;
    }
}
@media screen and (min-width: 1200px) {
    .user-panels__head--email{
        min-height: 147px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    .user-panels__head--email{
        min-height: 123px;
    }
}
input#search-input{
    border: none!important;
    outline: none!important;
    background-color: transparent!important;
    padding-left: 50px!important;
    padding-bottom: 10px!important;
    margin-left: 1rem!important;
    background-image: url('../../images/icons/loupe.svg')!important;
    background-position: 0 0!important;
    background-size: 26px!important;
    background-repeat: no-repeat!important;
}
input#search-input:focus{
    border-bottom: solid 2px var(--squash)!important;
    color: var(--squash)!important;
    background-image: url('../../images/icons/loupe-active.svg')!important;
}
input#search-input:-webkit-autofill,
input#search-input:-webkit-autofill:hover,
input#search-input:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--squash);
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}
.download-button{
    width: 34px;
    height: auto;
    cursor: pointer;
}
.coin-panel{
    cursor: pointer;
    overflow: hidden;
}
.coin-panel--active{
    border: solid 1px var(--squash);
}
.profile-panel{
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 var(--shadow-two);
    right: 20px;
    z-index: 4;
    background-color: var(--white);
}
.user-data__title__squares{
    margin-top: -2px;
    position: absolute;
    right: -48px;
}
.dashboard-squares{
    margin-top: -2px;
    position: absolute;
    right: -48px;
}
.overlap--active{
    color: var(--midnight-purple-two);
    border-bottom: 2px solid var(--squash);
}
.overlap--not-active{
    color: var(--blank-gray);
    border-bottom: 2px solid var(--border-gray);
}
.yellow-button__icon{
    height: 40px;
    width: auto;
}
.yellow-button__icon--object{
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.main-title{
    font-family: HKGrotesk, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
}
.profile-avatar__name{
    display: block;
    padding-top: 8px;
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
    float: left;
}
.dashboard-key{
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--light-gray);
}
.dashboard-complete{
    font-family: HKGrotesk, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--squash);
    display: block;
    margin-top: 2px;
}
.user-data{
    border-radius: 8px;
    border: solid 1px #bcbcbc;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.user-data__text{
    font-family: Dosis, sans-serif;
    font-size: 16px;
    color: var(--blank-gray);
}
.user-data__title{
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    color: var(--midnight-purple-two);
}
.user-data__text--margin{
    margin-top: 16px;
}
.search-item{
    margin-left: 80px;
    padding-left: 7.5%;
    display: block;
    position: absolute;
    left: 0;
    top: 32px;
}
.user-data__title--pt{
    padding-top: 6px;
}
.overlay-hidden{
    overflow: hidden;
}
.profile-panel__text{
    font-family: HKGrotesk, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    float: left;
}
.profile-panel__text--padding{
    padding-top: 11px;
}
.profile-panel__text--title{
    font-size: 16px;
    font-weight: 500;
    color: var(--midnight-purple-two);
}
.profile-panel__text--subtitle{
    font-size: 12px;
    color: var(--cobalt-blue);
}
.profile-panel__text--title-sm{
    padding-top: 18px;
    font-size: 14px;
    font-weight: 500;
    color: var(--midnight-purple-two);
}
.profile-avatar__arrow-off{
    height: 20px;
    width: auto;
    transform: rotate(270deg);
    margin-top: 10px;
    display: block;
}
.profile-avatar__arrow-on{
    height: 20px;
    width: auto;
    transform: rotate(0deg);
    margin-top: 10px;
    display: block;
}
.profile-avatar__avatar{
    background-color: var(--white);
    border-radius: 50%;
    float: left;
    box-shadow: 0 0 4px 0 var(--shadow-avatar);
}
.navbar-after-login__logo{
    height: 40px;
    width: auto;
}
.cursor-pointer{
    cursor:pointer;
}
.save-space{
    height: 40px;
}
.progress{
    background-color: var(--white)!important;
}
.bgLightBackground{
    background-color: var(--light-purple);
    min-height: 100vh;
}
.user-panels{
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 4px 1px var(--shadow-two);
}
.user-panels__title{
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.user-panels__title--purple{
    color: var(--midnight-purple-two);
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.dashboard-item{
    font-family: Dosis, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    vertical-align: center;
    color: var(--normal-blue);
    padding-left: 19px;
}
.dashboard-icon__image{
    height: 21px;
    width: auto;
}
.dashboard-icon__image--sc{
    padding-left: 2px;
    padding-right: 2px;
}
.dashboard-icon__image--eth{
    padding-left: 4px;
    padding-right: 4px;
}
.dashboard-icon{
    height: 21px;
    width: 21px;
}
.margin-minus{
    margin-left: -4px;
}
.user-panels__text{
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.user-panels__text--gray{
    color: var(--light-gray);
    font-family: Helvetica, sans-serif;
}
.user-panels__button--standard{
    color: var(--cobalt-blue);
    background-color: transparent;
}
.user-panels__button--standard:hover{
    color: var(--white);
    background-color: var(--cobalt-blue);
}
.user-panels__button--blue{
    width: auto!important;
    color: var(--white);
    background-color: var(--cobalt-blue);
    box-shadow: 0 2px 4px 0 var(--blue-shadow);
}
.user-panels__button--blue:hover{
    background-color: var(--white);
    color: var(--cobalt-blue);
}
.user-panels__button{
    border: solid 1px var(--cobalt-blue);
    height: 40px;
    border-radius: 8px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor:pointer;
    position: relative;
}
.user-panels__wallet-body__button{
    border: solid 1px var(--cobalt-blue);
    color: var(--cobalt-blue);
    height: 40px;
    border-radius: 8px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor:pointer;
    position: relative;
    background-color: transparent;
}
.user-panels__wallet-body__button:hover{
    background-color: var(--cobalt-blue);
    color: var(--white);
}
#show-profile-panel{
    outline: none;
    background: transparent;
    border: none;
}
#log-out{
    outline: none;
    background: transparent;
    border: none;
    min-width: 124px;
}
#log-in{
    outline: none;
    background: transparent;
    border: none;
    min-width: 119px;
}
.dashboard-input{
    background-color: transparent!important;
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: solid 1px var(--midnight-purple-two)!important;
    padding-left: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    color: var(--midnight-purple-two)!important;
}
.dashboard-input:focus{
    border-bottom: solid 1px var(--dark-yellow)!important;
}
.dashboard-text--mt {
    margin-top: 62px;
}
.dashboard-text{
    font-family: HKGrotesk, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dashboard-text--purple{
    color: var(--midnight-purple-two);
}
.dashboard-text--yellow{
    color: var(--squash);
}
.dashboard-text--blue{
    color: var(--cobalt-blue);
}
.dashboard-text--green{
    color: var(--apple-green);
}
.dashboard-text--bg{
    font-size: 26px;
    font-weight: 600;
}
.dashboard-text--sm{
    font-size: 14px;
    font-weight: 500;
}
.dashboard-text--sm-normal{
    font-size: 14px;
    font-weight: normal;
}
.dashboard-button{
    border: solid 1px var(--cobalt-blue);
    height: 40px;
    width: auto;
    border-radius: 8px;
    color: var(--cobalt-blue);
    background-color: transparent;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor:pointer;
    position: relative;
}
.dashboard-button:hover{
    color: var(--white);
    background-color: var(--cobalt-blue);
}
.dashboard-button__icon{
    position: absolute;
    left: 8px;
    top: 7px;
}
.user-panels__body-sm{
    min-height: 143px;
}
.user-panels__body-sm__item{
    font-family: Dosis, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    vertical-align: center;
    color: var(--normal-blue);
    padding-left: 37px;
}
.container-pb {
    padding-bottom: 50px;
}
.user-panels__body-sm__icons--eth{
    padding-left: 4px;
    padding-right: 4px;
}
.user-panels__body-sm__icons{
    height: 21px;
    width: auto;
    float: left;
}
.user-panels__body-sm__i{
    height: 21px;
    width: auto;
    float: right;
}
.user-panels__head{
    background-color: var(--cobalt-blue);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.user-panels__head__image{
    max-width: 100%;
    height: 125px;
}
.user-panels__body-sm__arrow{
    position: absolute;
    bottom: 24px;
    right: 24px;
    cursor:pointer;
    height: auto;
    width: 40px;
}
.dashboard-name{
    font-family: HKGrotesk, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: 600;
}
.dashboard-name--white{
    color: var(--white);
    font-size: 24px;
}
.dashboard-ssc{
    color: var(--white);
    font-family: Dosis, sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dashboard-ssc--full{
    font-size: 18px;
    color: var(--midnight-purple-two);
}
.dashboard-ssc__logo{
    margin-top: -3px;
    width: 14px;
    height: 17px;
}
.dashboard-profile{
    font-family: Dosis, sans-serif;
    font-weight: 500;
    color: var(--normal-blue);
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.dashboard-profile--sm{
    font-size: 14px;
}
.dashboard-progress__bar{
    width: 25%;
    background-color: var(--cobalt-blue);
}
.yellow-button__icon--margin{
    margin-top: -10px;
}
.user-panels__head__title{
    color: var(--white);
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.user-panels__head__subtitle{
    display: block;
    color: var(--white);
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.user-panels__wallet-body{
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid var(--border-light-gray);
}
.border-bottom{
    border-bottom: 2px solid var(--border-gray);
}
#dashboard-squares__id{
    cursor: pointer;
}
.dashboard-copy__alert{
    display: none;
    font-size: 9px;
    border-radius: 4px;
    background-color: var(--cobalt-blue);
    color: var(--white);
    position: absolute;
    bottom: 40px;
    right: -80px;
    padding: 2px;
}
.dashboard-copy__clicked{
    display: block;
    font-size: 9px;
    border-radius: 4px;
    background-color: var(--cobalt-blue);
    color: var(--white);
    position: absolute;
    bottom: 40px;
    right: -80px;
    padding: 2px;
}
@keyframes dashboard-copy__fadeInOut{
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes dashboard-copy__fadeInOut{
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes dashboard-copy__fadeInOut{
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes dashboard-copy__fadeInOut{
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
.dashboard-copy__fadeInOut{
    -webkit-animation: dashboard-copy__fadeInOut 4s;
    -moz-animation: dashboard-copy__fadeInOut 4s;
    -o-animation: dashboard-copy__fadeInOut 4s;
    animation: dashboard-copy__fadeInOut 4s;
}
.currency-value__alert{
    display: none;
    border-radius: 4px;
    background-color: var(--cobalt-blue);
    color: var(--white);
    position: absolute;
    right: 60px;
    z-index: 1000;
}
.currency-value:hover .currency-value__alert--ltc{
    display: block;
}
.currency-value:hover .currency-value__alert--eth{
    display: block;
}
.currency-value:hover .currency-value__alert--btc{
    display: block;
}
.currency-value:active .currency-value__alert--ltc{
    display: block;
}
.currency-value:active .currency-value__alert--eth{
    display: block;
}
.currency-value:active .currency-value__alert--btc{
    display: block;
}
.currency-value__alert--ltc{
    top: -50px;
}
.currency-value__alert--eth{
    top: -12px;
}
.currency-value__alert--btc{
    top: 26px;
}
