@font-face {
    font-family: HKGrotesk, sans-serif;
    src: url('/public/assets/fonts/HKGrotesk-Regular.ttf') format("ttf");
}
@font-face {
    font-family: Dosis, sans-serif;
    src: url('/public/assets/fonts/Dosis-Regular.ttf') format("ttf");
}
.desc_valuableSec {
    color: #0025aa;
    font-family: Dosis, sans-serif;
    font-size:24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.title_process_mining {
    font-family: HKGrotesk, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1f003f;
}

.desc_process_mining {
    font-family: HKGrotesk, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;

}

.title_blocksAreValidated {
    font-family: HKGrotesk, sans-serif;
    font-size: 46px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.desc_blocksAreValidated {
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.title_miningContainer {
    color: rgb(255, 255, 255);
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    height: 73px;
    letter-spacing: normal;
    line-height: 57px;
    text-align: center;
}

.desc_miningContainer {

    color: rgb(255, 255, 255);
    font-family: Dosis, sans-serif;
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 500;
    height: 189px;
    letter-spacing: normal;
    line-height: 31px;
    text-align: center;
}

.background__white{
    background-color: white;
}

.miningContainer {
    width: 100%;
    overflow: hidden;
    padding: 30px;
}

.miningContainer--line{
    margin-top: 1px;
}

.miningContainer__rectangle-yellow {
    width: 100px;
    height: 4px;
    background-color: #ffd600;
}

.miningContainer__rectangle-gray {
    background-color:#d8d8d8;
    height:89px;
}

.margin-zero {
    margin:0;
}

.miningContainer--purple {
    background-color: #1f003f;
}

.miningContainer--purple-padding {
    padding-bottom: 160px;
    padding-top: 77px;
}

.miningContainer--blue {
    background-color:#0025aa;
}

.miningContainer__text {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.miningContainer__text--align {
    text-align: center;
}

.miningContainer__text--weight-middle {
    font-weight: 500;
}

.miningContainer__text--weight-big {
    font-weight: 600;
}

.miningContainer__text--bold {
    font-weight: bold;
}

.miningContainer__text--white {
    color: #ffffff;
}

.miningContainer__text--purple {
    color: #1f003f;
}

.miningContainer__text--gray {
    color: #777777;
}

.miningContainer__text--blue {
    color: #0025aa;
}

.miningContainer__text--size-big {
    font-size: 48px;
}

.miningContainer__text--size-middle {
    font-size: 36px;
}

.miningContainer__text--size-small {
    font-size: 24px;
}

.miningContainer__text--size-little-small {
    font-size: 20px;
}

.miningContainer__text--size-very-small {
    font-size: 18px;
}

.miningContainer__text--font-HKGrotesk-Medium {
    font-family: HKGrotesk-Medium, sans-serif;
}

.miningContainer__text--font-HKGrotesk-SemiBold {
    font-family: HKGrotesk-SemiBold, sans-serif;
}

.miningContainer__text--font-HKGrotesk-Bold {
    font-family: HKGrotesk-Bold, sans-serif;
}

.miningContainer__text--font-Dosis-Medium {
    font-family: Dosis-Medium, sans-serif;
}

.button {
    margin:auto;
    text-align:center;
    width: 150px;
    border-radius: 12px;
    border: solid 1px #f8e71c;
}

.button__text {
    padding-bottom:10px;
    padding-top:11px;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f8e71c;
}

.button__text--margin {
    margin:auto;
    display:block;
}
