.rodo-div {
     width: 100%;
     position: fixed;
     bottom: 0;
     padding: 16px;
     background-color: #1a181c;
     color: #ffffff;
     text-align: center;
}
.rodo-button {
     border-radius: 12px;
     border: solid 1px #e7b41d;
     padding: 0.5rem 1.8rem;
     color: #e7b41d;
     font-family: Avenir sans-serif;
     font-size: 14px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     cursor: pointer;
     display: inline-block;
     background-color: transparent;
     margin-left: 15px;
}
.rodo-info {
     width: 100%;
}
