body {
    background: url('/assets/images/bg-silesia.png') no-repeat;
    background-size: cover;
}

.login-grid {
    display: grid;
    align-content: center;
    justify-content: center;
    display: -ms-grid;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
}
.social-media-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    justify-items: center;
    align-items: center;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 60px;
    -ms-grid-column-align: center;
    margin-bottom: 20px;
    border: inset #005bbb 1px;
    border-radius: 0.2em;
    background: white;
}
.check-granted {
    position: relative;
    max-height: 30px;
}
.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}
.socialButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.facebookButton {
    height: 50px;
    width: 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    background: url("../images/icons/facebook.png") #ffd500;
    background-size: cover;
}
.googleButton {
    height: 50px;
    width: 50px;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    background: url("../images/icons/google-ico.png") no-repeat;
    background-size: cover;
}
.facebookButton:hover, .googleButton:hover {
    transform: scale(1.05);
}

.invisible {
    display: none;
}
.login-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 20px auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.login-container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}
.login-container form input {
    height: 24px;
    padding-left: 58px;
    box-sizing: border-box;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 24px 5px;
    transition: all 0.3s ease-in-out;
    border: inset #005bbb 1px;
    border-radius: 3px;
}
.login-container form input:focus {
    background: #005bbb;
    color: #ffd500;
}
.login-container form button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffd500;
    color: #005bbb;
}
.login-container form button:hover {
    cursor: pointer;
    opacity: 0.75;
}
.error {
    align-self: center;
    justify-self: center;
    font-size: 20px;
    color: #005bbb;
}