/* Mobile */
@media screen and (max-width: 756px) {
    body {
        background: url('/assets/images/bg-silesia.png') no-repeat;
        background-size: cover;
    }
    .silesia-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto 100px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 100px auto 100px;
        align-items: center;
        justify-items: center;
    }
    .silesia-menu {
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .silesia-first-row {
        display: grid;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    .silesiacoin-front-image img {
        max-width: 50vh;
    }
    .silesia-footer {
        display: grid;
        grid-column: 1 / 4;
        grid-row: 4;
        grid-template-rows: repeat(4, 50px);
        grid-gap: 10px;
    }
    .desktop-only {
        display: none;
    }
}
/* Desktop */
@media screen and (min-width: 756px) {
    body {
        background: url('/assets/images/bg-silesia.png') no-repeat;
        background-size: cover;
    }
    .silesia-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px auto 100px;
        align-items: center;
        justify-items: center;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 100px auto 100px;
    }

    .silesia-menu {
        grid-row: 1;
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
    }

    .silesia-first-row {
        display: grid;
        grid-template-rows: 1fr 50px;
        grid-column: 1 / 4;
        grid-row: 2;
        align-items: center;
        justify-items: center;
    }
    .silesiacoin-front-image img {
        max-width: 70vh;
    }
    .silesia-footer {
        position: absolute;
        height: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: start;
        justify-items: center;
    }
    .mobile-only {
        display: none;
    }
}

/* Both mobile and desktop */
.themeButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}
.buy-silesiacoin {
    text-decoration: none;
    font-size: 24px;
}
.silesia-footer div a {
    text-decoration: none;
}
.front-email-input {
    height: 24px;
    padding-left: 58px;
    box-sizing: border-box;
    background: url('/assets/images/symbol/fa-envelope-o-yellow.png');
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 24px 5px;
    transition: all 0.3s ease-in-out;
    border: inset #005bbb 1px;
    border-radius: 3px;
}
.front-email-input:focus {
    background: #005bbb;
    color: #ffd500;
}
.accept-and-send {
    display: grid;
    grid-template-rows: 20px 20px;
}
.hidden {
    display: none;
}
.news {
    margin-top: 20px;
}
.status {
    margin-bottom: 20px;
}
/* Animations */
.silesiacoin-front-image:hover {
    opacity: 0.75;
    transform: scale(1.03);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}
.themeButton:hover {
    opacity: 0.75;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}
.buy-silesiacoin:hover {
    opacity: 0.75;
    transform: scale(1.01);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}