@font-face {
    font-family: HKGrotesk, sans-serif;
    src: url('/public/assets/fonts/HKGrotesk-Regular.ttf') format("ttf");
}
@font-face {
    font-family: Dosis, sans-serif;
    src: url('/public/assets/fonts/Dosis-Regular.ttf') format("ttf");
}
.main-section__graphics {
    object-fit: contain;
    background-color: #ffffff;
}

@media screen and (max-width: 768px){
    .main-section__graphics {
        display: none;
    }
}

.main-section__details {
    background-color: #ffffff;
    max-height: 1400px;
}

.main-section__key-points {
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 100px 20px 100px;
    align-items: center;
    color: white;
    margin-top: 80px;
    height: 260px;
    padding-left: 7%;
}

@media screen and (max-width: 768px) {
    .main-section__key-points {
        padding-left: unset;
        justify-content: center;
        height: 300px;
    }
}

.main-section__key-points-header {
    grid-row: 1/2;
    max-width: 528px;
    height: 57px;
    font-family: HKGrotesk, serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
}

@media screen and (max-width: 370px){
    .main-section__key-points-header {
        padding-bottom: 200px;
    }
}

.main-section__key-points-rectangle {
    grid-row: 2/3;
    justify-self: left;
}

@media screen and (min-width: 768px) {
    .main-section__key-points-rectangle {
        margin-right: 25px;
    }
}

.main-section__key-points-cta {
    grid-row: 3/4;
    height: 62px;
    font-family: Dosis, serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #184ca2;
    padding-top: 30px;
}

.main-section__key-points-underscore__rectangle-yellow,
.ethereum-based__description__key-points-underscore__rectangle-yellow {
    width: 100px;
    height: 4px;
    background-color: #ffd600
}

.main-section__key-points-rectangle-area {
    margin-top: 30px;
}

.main-section__key-points-rectangle {
    background-color: #d8d8d8;
    width: 140px;
    height: 89px;
    border: 1px solid #000000;
}

.main-section__key-points-rectangle-area-col-one, .main-section__key-points-rectangle-area-col-three {
    display: flex;
    flex-direction: column;
    padding-left: 8% !important;
}

.main-section__key-points-rectangle-area-col-two, .main-section__key-points-rectangle-area-col-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .main-section__key-points-rectangle-area-col-one, .main-section__key-points-rectangle-area-col-two,
    .main-section__key-points-rectangle-area-col-three, .main-section__key-points-rectangle-area-col-four {
        align-items: center;
        padding-left: unset !important;
    }
}

@media screen and (max-width: 768px) {
    .main-section__key-points-rectangle-area-col-two, .main-section__key-points-rectangle-area-col-four {
        justify-content: center;
        padding-top: 100px;
    }
}

.main-section__key-points-text {
    color: #2f66c2;
    padding-top: 15px;
    padding-right: 35px;
}

@media screen and (max-width: 768px) {
    .main-section__key-points-text {
        padding-right: unset;
    }
}

.high-chance-section {
    background-color: var(--midnight-purple-two);
    height: 360px;
}

@media screen and (max-width: 560px) {
    .high-chance-section {
        height: 400px;
    }
}

.high-chance-section__content-header {
    height: 57px;
    font-family: HKGrotesk, serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    grid-row: 1 / 2;
}

@media screen and (max-width: 768px) {
    .high-chance-section__content-header {
        height: 100px;
    }
}

.high-chance-section__content-paragraph {
    height: 62px;
    font-family: Dosis, serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    grid-row: 2 / 3;
    padding-top: 40px;
}

.ethereum-based-section {
    height: 650px;
}

.smart-contracts-section {
    height: 750px;
}

.ethereum-adress-growth-section {
    height: 350px;
    background-color: #ffffff;
}

@media screen and (max-width: 440px) {
    .ethereum-adress-growth-section {
        height: 450px;
    }
}

.ethereum-adress-growth-section__paragraph {
    padding: 10px 0 10px 0;
}

.ethereum-adress-growth-section__paragraph > a {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
}

@media screen and (max-width: 560px) {
    .ethereum-based-section, .smart-contracts-section {
        height: 600px;
        padding: 0 20px 0 20px;
    }
}

/*.ethereum-based__description {*/
    /*display: grid;*/
    /*grid-template-columns: 70%;*/
    /*grid-template-rows: 100px 20px 100px;*/
    /*align-items: center;*/
    /*color: white;*/
/*}*/

/*.ethereum-based__pic {*/
    /*max-width: 40%;*/
    /*padding-top: 55px;*/
    /*float: right;*/
/*}*/

.white-empty-space {
    height: 150px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .white-empty-space {
        height: 50px;
    }
}

.future-is-ssc-section {
    text-align: left;
    background-color: var(--midnight-purple-two);
    height: 800px;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .future-is-ssc-section-text-column {
        text-align: center;
    }
}

.future-is-ssc-section__header {
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 100px;
}

.future-is-ssc-section__description {
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 150px 0 150px 0;
}

.future-is-ssc-section__button, .invest-in-future-section__button {
    color: #f8e71c !important;
    width: 200px;
}

.market-potential-section-header {
    font-family: HKGrotesk, sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.market-potential-section-paragraph {
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
}

.stable-currency-section {
    height: 600px;
}

@media screen and (max-width: 768px){
    .stable-currency-section {
        height: 700px;
    }
}

.stable-currency-section__paragraph {
    display: block;
    padding-top: 40px;
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.stable-currency-section__point {
    display: block;
    padding-bottom: 15px;
    font-family: Dosis, sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--cobalt-blue);
}

.invest-in-future-section {
    background-color: var(--midnight-purple-two);
    height: 500px;
    text-align: center;
}

.invest-in-future-section__content-header {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding-top: 100px;
}

.invest-in-future-section__content-paragraph {
    display: block;
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 25px 0 35px 0;
}
