body {
    background: url('/assets/images/bg-silesia.png') no-repeat;
    background-size: cover;
}
@media screen and (max-width: 700px) {
    .sscprice img {
        max-width: 100px;
    }
}
.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}
.themeButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.themeButton:hover {
    opacity: 0.75;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}
.price-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-gap: 12px;
    display: -ms-grid;
    -ms-grid-columns: 2fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    height: 80vh;
}
.price-grid a {
    text-decoration: none;
    color: #005bbb;
}
.sscprice
{
    cursor: pointer;
    align-self: center;
    justify-self: self-end;
    margin-right: 20px;
    grid-row: 1 / 4;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.sscprice:hover
{
    opacity: 0.75;
}
.ethprice
{
    cursor: pointer;
    grid-row: 1;
    align-self: end;
    -ms-grid-row: 1;
    -ms-grid-row-align: end;
}
.ethprice:hover
{
    opacity: 0.75;
}
.ethprice img
{
    height: 30px;
}
.btcprice
{
    cursor: pointer;
    grid-row: 2;
    align-self: center;
    -ms-grid-row: 2;
    -ms-grid-row-align: 2;
}
.btcprice:hover
{
    opacity: 0.75;
}
.btcprice img {
    height: 30px;
}
.ltcprice
{
    cursor: pointer;
    grid-row: 3;
    align-self: start;
    -ms-grid-row: 2;
    -ms-grid-row-align: start;
}
.ltcprice:hover{
    opacity: 0.75;
}

.ltcprice img {
    height: 30px;
}