
:root {
  --midnight-purple: #312756;
  --apple-green: #7ed321;
  --squash: #e7b41d;
  --cobalt-blue: #0025aa;
  --ShadowOne: rgba(0, 0, 0, 0.5);
  --shadow-two: rgba(166, 166, 166, 0.5);
  --midnight-purple-two: #1f003f;
  --azureblue: #f7f7ff;
 }

.main-selection-till-title {
  font-family: HKGrotesk, sans-serif;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch:  normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--midnight-purple-two);
 }

.main-selection-till-desc {
    font-family: Dosis, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #184ca2;
}

.main-selection-till {
  font-family: Dosis, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #184ca2;
 }

.margin-full {
    margin-left: -15px!important;
    margin-right:-15px!important;
}

.menu {
  width: 100%;
  font-size: 16px;
  float: right !important;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }

/* AffiliateSection */

.ornament{
  margin: 10% 0 7% 0;
width: 100px;
height: 4px;
background-color: #ffd600;
 }
/* MainSection */

.main_section{
  background-color: var(--azureblue);
 }

/* Advantages */

.advantage{
  margin: 7.7% 0 7.7% 0;
 }

 .advantage img {
   width:80%;
   padding:0 5% 0 5%;
 }

/* VioletSection */

.large_violet_section{
  text-align: left !important;
  padding-top: 60px;;
  background-color: var(--midnight-purple-two);
  text-align: center;
  vertical-align: middle;
 }

.violet_section{
  padding-top: 60px;
  background-color: var(--midnight-purple-two);
  text-align: center;
  vertical-align: middle;
 }

.blue_section{
  padding-top: 60px;;
  background-color: var(--cobalt-blue);
  text-align: center;
  vertical-align: middle;
 }

.timer-header {
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
}

.timer-sec {
    font-family: HKGrotesk, sans-serif;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffd600;
    text-align: center;
}

.timer-number {
    font-family: HKGrotesk, sans-serif;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffd600;
    text-align: center;
}

.timer-desc {
    font-family: HKGrotesk, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
}

.map-title {
    font-family: HKGrotesk, sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-align: center;
}

.sub-title-info-large {
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.Its-time-to-rev {
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Its-time-to-rev-desc {
    font-family: Dosis, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Join-team-title {
    font-family: HKGrotesk, sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Join-team-desc {
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.ssc__modal--authenticate {
    position: relative;
}

.ssc__modal--authenticate img {
    max-width: 100%;
    border-radius: 12px;
    border: solid 1px #e7b41d;
}

/* ANIMATE */

.fadeIn {
  animation-name: fadeIn;
 }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
 }

.animated.infinite {
  animation-iteration-count: infinite;
 }

.animated.delay-1s {
  animation-delay: 0.5s;
 }

.animated.delay-2s {
  animation-delay: 2s;
 }

.animated.delay-3s {
  animation-delay: 3s;
 }

.animated.delay-4s {
  animation-delay: 4s;
 }

.animated.delay-5s {
  animation-delay: 5s;
 }

.animated.fast {
  animation-duration: 800ms;
 }

.animated.faster {
  animation-duration: 500ms;
 }

.animated.slow {
  animation-duration: 2s;
 }

.animated.slower {
  animation-duration: 3s;
 }
@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
   }
 }

@keyframes fadeIn {
  from {
    opacity: 0;
   }

  to {
    opacity: 1;
   }
 }

.bg-map {
    background: #0025aa; /* Old browsers */
    background: -moz-linear-gradient(top, #0025aa 40%, #7db9e8 40%, #ffffff 40%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0025aa 40%,#7db9e8 40%,#ffffff 40%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0025aa 40%,#7db9e8 40%,#ffffff 40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0025aa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

@media only screen and  (max-width: 720px) {
    .main-selection-till {
        font-size: 24px;
        color: #3d3d3d;
        text-align:center;
    }
    .bg-map {
        background: #0025aa;
    }
    .timer-flex-direct {
        flex-direction: column!important;
    }
    .timer-header {
        text-align: center;
    }

    .timer-sec {
        text-align: center;
    }

    .timer-number {
        text-align: center;
    }

    .timer-desc {
        text-align: center;
    }
    .map-title{
        font-size: 24px;
    }

}
@media only screen and (min-width: 720px) {
    .main-selection-till {
        font-size: 18px;
        color: #184ca2;
        text-align:left;
    }
    .timer-flex-direct {
        flex-direction: row!important;
    }
    .timer-header {
        text-align: left;
    }

    .timer-sec {
        text-align: left;
    }

    .timer-number {
        text-align: left;
    }

    .timer-desc {
        text-align: left;
    }
}
