#navBar {
    font-family: HKGrotesk, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #1f003f;
    width: 100%;
    padding:0.5rem;
    position: fixed;
    z-index: 5;
}
#navBar .desktop {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
}
#navBar a {
    color:#FFFFFF;
}
#navbar a:hover {
    cursor: pointer;
}
#navBar .item-nav {
    margin-right: 2.5rem;
}
#navBar .item-nav:hover {
    cursor: pointer;
    color: #e7b41d;
    text-decoration: none;
}
#navBar .item-nav-last {
    margin-right: 3.75rem;
}
#navBar .item-nav-last:hover {
    cursor: pointer;
    color: #e7b41d;
    text-decoration: none;
}
#navBar .nav-logo {
    margin-right: 2.125rem;
    max-height: 55px;
}
#navBar .language-switch {
    margin-right: 2.125rem;
    max-height: 55px;
    padding: 0.2rem;
    margin-top: 10px;
}
#navBar .language-switch select {
    border-radius: 12px;
    border: solid 1px whitesmoke;
    color: white !important;
    background-color: transparent;
}
#navBar .language-switch:hover {
    text-decoration: none;
}
#navBar .language-switch select:hover {
    cursor: pointer;
}
#navBar .language-switch select:focus {
    color: #e7b41d!important;;
    border-radius: 12px;
    border: solid 1px #e7b41d;
}
#navBar .language-switch option {
    border-radius: 4px;
    background-color: #312756;
    border: solid 1px #e7b41d;
}
#navBar .tree-button:hover {
    color: whitesmoke;
    border-radius: 12px;
    border: solid 1px whitesmoke;
}
.orange-button {
    color: #e7b41d!important;;
    border-radius: 12px;
    border: solid 1px #e7b41d;
    font-family: Avenir, sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 0.45rem 2rem;
}
@media only screen and  (max-width: 720px) {
    #navBar .desktop {
        display: none;
    }
    #navBar .mobile {
        display: flex;
        justify-content: space-between;
    }
    #navBar .navbar-toggler {
        border-color: white!important;
        order:13!important;
        align-self: flex-start!important;
        margin-top: 0.35rem;
    }
    #navBar .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
        align-self: flex-start!important;
    }
    #navBar .nav {
        margin-top: 55px;
        width: 100%!important;
        text-align: center;
        display: flex!important;
        flex-direction: column;
    }
    #navBar .nav-logo {
        margin-right: 0;
    }
}
@media only screen and (min-width: 720px) {
    #navBar .desktop {
        display: flex;
    }
    #navBar .mobile {
        display: none;
    }
    #navBar .language-switch label {
        display: none;
    }
}
