body {
    background: url('/assets/images/backgrounds/scpattern2.png') whitesmoke;
    background-repeat: no-repeat, no-repeat;
    background-position: top;
    background-size: contain;
}
@media screen and (max-width: 1280px) {
    body {
        background-size: contain !important;
        background-color: whitesmoke;
    }
    .eminer img {
        max-width: 100px;
        margin-left: calc(50% - 60px);
        margin-top: -20px;

    }
    .eminer-headline {
        margin-left: -100px !important;
        margin-top: 50vh;
    }
    .left-mining-description {
        margin-top: 200px;
        padding: 20px;
        grid-row: 2;
        grid-column: 1 / 4;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        height: 500px;
        z-index: 2;
    }
    .left-mining-description a {
        text-decoration: none;
    }
    .centered-title {
        text-align: center;
    }
    .left-mining-description h4 img {
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .center-mining-description {
        grid-row: 2;
        grid-column: 1 / 4;
        background: whitesmoke;
        border: solid 2px #000000;
        border-radius: 10px;
        height: 100px;
        z-index: 1;
    }
    .center-mining-description .centered-title {
        align-self: start;
        margin-left: 130px;
        margin-top: -100px;
        font-size: 24px;
    }
    .right-mining-description {
        grid-row: 3;
        grid-column: 1 / 4;
        margin-top: 100px;
        padding: 20px;
    }
    .right-mining-description a {
        text-decoration: none;
    }
    .desktops {
        display: none;
    }
}
@media screen and (min-width: 1280px) {
    .eminer img {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        margin-top: -30px;
        margin-right: -150px;
        margin-left: -150px;
        max-width: 300px;
    }
    .eminer-headline {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-column: 3;
        margin-left: -150px;
        margin-top: 300px;
        background: rgba(0,0,0,0.3);
        padding: 20px;
        max-height: 300px;
        max-width: 400px;
        color: white;
    }
    .left-mining-description {
        background: linear-gradient(to top, rgba(0, 91, 187, 0.3) , whitesmoke);
        margin-top: 200px;
        padding: 20px;
        grid-row: 2;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .left-mining-description a {
        text-decoration: none;
    }
    .centered-title {
        text-align: center;
    }
    .left-mining-description h4 img {
        height: 30px;
        margin-left: 30px;
        margin-top: 10px;
    }
    .center-mining-description {
        background: whitesmoke;
        border: solid 2px #000000;
        border-radius: 10px;
    }

    .right-mining-description {
        background: linear-gradient(to top, rgba(255, 213, 0, 0.3), whitesmoke);
        margin-top: 200px;
        padding: 20px;
    }
    .right-mining-description a {
        text-decoration: none;
    }

}

.seccond-bg {
    grid-row: 2;
    grid-column: 1 / 4;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    z-index: -1;
}
.left-mining-description, .center-mining-description, .right-mining-description {
    background: white;
}
.following-coin {
    position: fixed;
    z-index: 10;
    right: 100px;
}
.miner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 100vh);
    grid-auto-rows: 100vh;
    justify-content: start;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 100vh 100vh 100vh 100vh;
}
.eminer{
    margin-top: 70px;
    grid-column: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row: 1;
}
.eminer-headline h1 {
    margin-top: 70px;
    font-size: 50px !important;
}
.eminer-headline h2 {
    margin-left: 20px;
}
.center-mining-description img{
    grid-row: 2;
    grid-column: 1;
    max-width: 50vw;
}

.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}

.bg-white {
    background-color: rgba(0,0,0,0.5);
}
.themeButton:hover {
    opacity: 0.75;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}

.themeButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.under-dev {
    color: whitesmoke;
    margin-top: 10px;
    background: url('/assets/images/backgrounds/scpattern5.png') no-repeat;
    max-width: 100%;
    background-size: cover;
    display: grid;
    grid-column: 1 / 4;
    align-items: center;
    justify-items: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 3;
}
.under-dev a {
    text-decoration: none;
}