body {
    background: url('/assets/images/bg-silesia.png') no-repeat;
    background-size: cover;
}
@media screen and (max-width: 700px) {
    .sscprice img {
        max-width: 100px;
    }
}
.color-yellow {
    color: #ffd500;
}
.color-blue {
    color: #005bbb;
}
.bg-yellow {
    background-color: #ffd500;
}
.bg-blue {
    background-color: #005bbb;
}
.themeButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.themeButton:hover {
    opacity: 0.75;
    transform: scale(1.1);
    transition: all 1s ease-in-out;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    cursor: pointer;
}
.news-menu {
    position: relative;
    top: 10px;
    left: 20px;
    padding: 10px;
    width: 50%;
}
.news-menu a {
    text-decoration: none;
}
.news-menu img {
    max-width: 100px;
}
.news-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-gap: 12px;
    display: -ms-grid;
    -ms-grid-columns: 30vw;
    min-height: 50vh;
}
.price-grid a {
    text-decoration: none;
    color: #005bbb;
}
@media screen and (max-width: 756px) and (min-width: 400px) {
    .news-grid {
        grid-template-columns: 45vw;
        grid-auto-columns: 45vw;
    }
}
@media screen and (max-width: 400px) {
    .news-grid {
        grid-template-columns: 90vw;
        grid-auto-columns: 90vw;
    }
}
.tweet
{
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
    background: white;
}
.tweet img {
    position: relative;
    max-width: 100%;
    max-height: 400px;
}
