{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/Front.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/home/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/home/tree.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/business-earning.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/front/minning.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/front/dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/front/rodo-agreement.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/front/checkbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/modal/defaultModal.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/loaders/loader.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock stylesheets %}
{% block body %}
    <div id="{{ module|default('angband') }}"></div>
{% endblock body %}
{% block javascripts %}
    {% block authenticators %}
        <script type="text/javascript">
            window.csrf = '{{ csrf_token('authenticate') }}';
            {% if REV_DATE is defined %}
                window.revDate = '{{ REV_DATE }}';
            {% endif %}
        </script>
    {% endblock authenticators %}
    {% block reactRunner %}
        <script type="text/javascript" src="{{ asset('assets/javascripts/silesiacoin/main.js') }}"></script>
    {% endblock reactRunner %}
{% endblock javascripts %}
