{% block head %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1">
        <title>
            {% block title %}
                Szczyńść Boże!
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}">
            <script
                    src="https://code.jquery.com/jquery-3.3.1.js"
                    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                    crossorigin="anonymous"></script>
            <link
                    rel="stylesheet"
                    href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
                    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
                    crossorigin="anonymous"
            >

        {% endblock %}
    </head>
    {% endblock head %}
    <body>
    {% block body %}
        <div class="silesia-grid">
            <div class="silesia-menu">
                <div class="news">
                    <a href="{{ path('news') }}" class="themeButton bg-yellow">{% trans %}news.button{% endtrans %}</a>
                </div>
                <div class="status">
                    <a href="{{ path('user_login_web') }}" class="themeButton bg-blue">Login</a>
                </div>
            </div>
            <div class="silesia-first-row">
                <div class="silesiacoin-front-image">
                    <img src="{{ asset('assets/images/descr/silesiacoin_lg.png') }}">
                </div>
                <div class="front-email">
                    <input
                            type="email"
                            class="front-email-input"
                            name="email" title="email"
                            onchange="validateInput()"
                            oninput="validateInput()"
                            onkeyup="validateInput()"
                    >
                    <input type="submit" class="hidden" id="submit-email" value="go">
                    <div class="accept-and-send">
                        <div class="hidden" id="accept">
                            <input type="checkbox" id="rodo"/>
                            <label for="checkbox">
                                Wyrażam zgodę na
                                <a href="{{ path('privacy') }}" target="_blank"> przetwarzanie danych </a>
                            </label>
                        </div>
                    </div>

                    </input>
                </div>
            </div>
            <div class="silesia-footer">
                <div class="mobile-only">
                    <a href="{{ path('user_register_web') }}" class="buy-silesiacoin color-blue">
                        Jo chca SilesiaCoina!
                    </a>
                </div>
                <div class="silesia-counter themeButton color-yellow">
                    <a href="#" class="color-yellow">01 / 01 / 2019</a>
                </div>
                <div class="themeButton bg-yellow">
                    <a href="{{ path('docs-index') }}" class="color-blue">Obejrzyj wincyj</a>
                </div>
                <div class="desktop-only">
                    <a href="{{ path('user_register_web') }}" class="buy-silesiacoin color-blue themeButton">
                        Jo chca SilesiaCoina!
                    </a>
                </div>
                <div class="themeButton bg-blue">
                    <a href="{{ path('app_default_showminerpage') }}" class="color-yellow">Fedruj z pasją</a>
                </div>
                <div class="themeButton color-blue">
                    <a href="#" class="color-blue">Pomóż i zarób</a>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block javascripts %}
            <script>
                $(".front-email-input").click( function () {
                    $("#accept").show("slow");
                    $("#rodo")[0].checked = true;
                    validateInput();
                });

                function validateEmail(email) {
                    var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    return re.test(email);
                }

                function validateInput(){
                    var input = $(".front-email-input").val();
                    if (validateEmail(input)) {
                        $("#submit-email").show("medium");

                        return true;
                    } else {
                        $("#submit-email").hide("medium");

                        return false;
                    }
                }

                function validateWhole() {
                    var emailCheck = validateInput();
                    var checkBoxVal = $("#rodo")[0].checked;
                    var email = $(".front-email-input").val();
                    if (emailCheck && checkBoxVal) {
                        $(".wrong-data").hide();
                        submitEmail(email);
                    } else {
                        $(".accept-and-send").append("<span class='wrong-data'>Wrong data</span>");
                    }
                }

                function submitEmail(submitedEmail) {
                    $.ajax({
                        method: "POST",
                        url: "{{ path('post_store_contact')}}",
                        data: {email: submitedEmail, date: "{{ "now"|date }}"},
                        success: function () {
                            $(".silesia-first-row").append("" +
                                "<div> Ciepłem mejla kaj trzeba, obejrzyj swoja skrzinka <br/>" +
                                "Ino dej mi chwila..." +
                                "</div>" +
                                "");
                            $(".front-email").hide("slow");
                        }
                    });
                }
                $("#submit-email").bind("click", validateWhole);
            </script>

        {% endblock %}
    </body>
</html>
