<div class="box-content content sites">
    <p style="text-align: center;"><strong>Polityka Prywatności serwisu {{ domain }}</strong></p>
    <p style="text-align: center;">&nbsp;</p>
    <ol>
        <ol>
            <li style="font-weight: 400;"><strong>Informacje og&oacute;lne.</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Serwis realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniu w następujący spos&oacute;b:</span></li>
                <ol>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Poprzez dobrowolnie wprowadzone w formularzach informacje.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Poprzez zapisywanie w urządzeniach końcowych pliki cookie (tzw. "ciasteczka").</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Poprzez gromadzenie log&oacute;w serwera www przez operatora hostingowego</span></li>
                </ol>
            </ol>
            <li style="font-weight: 400;"><strong>Informacje w formularzach.</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Serwis zbiera informacje podane dobrowolnie przez użytkownika.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Serwis może zapisać ponadto informacje o parametrach połączenia (oznaczenie czasu, adres IP)</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, p.. w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Wszystkie dane są szyfrowane, aby zabezpieczyć maksymalnie informacje.</span></li>
            </ol>
            <li style="font-weight: 400;"><strong>Informacja o plikach cookies.</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Serwis korzysta z plik&oacute;w cookies.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Pliki cookies (tzw. &bdquo;ciasteczka&rdquo;) stanowią dane informatyczne, w szczeg&oacute;lności pliki tekstowe, kt&oacute;re przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z kt&oacute;rej pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Pliki cookies wykorzystywane są w następujących celach:</span></li>
                <ol>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">tworzenia statystyk, kt&oacute;re pomagają zrozumieć, w jaki spos&oacute;b Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki kt&oacute;rej Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła;</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">określania profilu użytkownika w celu wyświetlania mu dopasowanych materiał&oacute;w w sieciach reklamowych, w szczeg&oacute;lności sieci Google.</span></li>
                </ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">W ramach Serwisu stosowane są dwa zasadnicze rodzaje plik&oacute;w cookies: &bdquo;sesyjne&rdquo; (session cookies) oraz &bdquo;stałe&rdquo; (persistent cookies). Cookies &bdquo;sesyjne&rdquo; są plikami tymczasowymi, kt&oacute;re przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). &bdquo;Stałe&rdquo; pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plik&oacute;w cookies lub do czasu ich usunięcia przez Użytkownika.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plik&oacute;w cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plik&oacute;w cookies. Możliwe jest także automatyczne blokowanie plik&oacute;w cookies Szczeg&oacute;łowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Ograniczenia stosowania plik&oacute;w cookies mogą wpłynąć na niekt&oacute;re funkcjonalności dostępne na stronach internetowych Serwisu.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być r&oacute;wnież przez wsp&oacute;łpracujących z operatorem Serwisu reklamodawc&oacute;w oraz partner&oacute;w.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Zalecamy przeczytanie polityki ochrony prywatności tych firm, aby poznać zasady korzystania z plik&oacute;w cookie wykorzystywane w statystykach: Polityka ochrony prywatności Google Analytics</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Pliki cookie mogą być wykorzystane przez sieci reklamowe, w szczeg&oacute;lności sieć Google, do wyświetlenia reklam dopasowanych do sposobu, w jaki użytkownik korzysta z Serwisu. W tym celu mogą zachować informację o ścieżce nawigacji użytkownika lub czasie pozostawania na danej stronie.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">W zakresie informacji o preferencjach użytkownika gromadzonych przez sieć reklamową Google użytkownik może przeglądać i edytować informacje wynikające z plik&oacute;w cookies przy pomocy narzędzia: </span><a href="https://www.google.com/ads/preferences/"><span style="font-weight: 400;">https://www.google.com/ads/preferences/</span></a></li>
            </ol>
            <li style="font-weight: 400;"><strong>Logi serwera.</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Informacje o niekt&oacute;rych zachowaniach użytkownik&oacute;w podlegają logowaniu w warstwie serwerowej. Dane te są wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej obsługi świadczonych usług hostingowych.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Przeglądane zasoby identyfikowane są poprzez adresy URL. Ponadto zapisowi mogą podlegać:</span></li>
                <ol>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">czas nadejścia zapytania,</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">czas wysłania odpowiedzi,</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">nazwę stacji klienta &ndash; identyfikacja realizowana przez protok&oacute;ł HTTP,</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">informacje o błędach jakie nastąpiły przy realizacji transakcji HTTP,</span><span style="font-weight: 400;"><br /></span><span style="font-weight: 400;">adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) &ndash; w przypadku gdy przejście do Serwisu nastąpiło przez odnośnik,</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">informacje o przeglądarce użytkownika,</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Informacje o adresie IP.</span></li>
                </ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Dane powyższe nie są kojarzone z konkretnymi osobami przeglądającymi strony.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Dane powyższe są wykorzystywane jedynie dla cel&oacute;w administrowania serwerem.</span></li>
            </ol>
            <li style="font-weight: 400;"><strong>Udostępnienie danych.</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Dane umożliwiające identyfikację osoby fizycznej są udostępniane wyłączenie za zgodą tej osoby.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.</span></li>
            </ol>
            <li style="font-weight: 400;"><strong>Zarządzanie plikami cookies &ndash; jak w praktyce wyrażać i cofać zgodę?</strong></li>
            <ol>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Jeśli użytkownik nie chce otrzymywać plik&oacute;w cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plik&oacute;w cookies niezbędnych dla proces&oacute;w uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie ze stron www</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">W celu zarządzania ustawieniami cookies postępuj zgodnie z instrukcjami dla swojej przeglądarki.</span></li>
            </ol>
            <li style="font-weight: 400;"><strong>Przetwarzanie danych osobowych</strong>
                <ol>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Każdemu Użytkownikowi przysługuje prawo wglądu do jego danych osobowych przetwarzanych przez administratora, żądania ich zmiany czy też usunięcia, za pośrednictwem odpowiednich opcji dostępnych w ramach Konta danego Użytkownika.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Administrator może odm&oacute;wić usunięcia danych osobowych, jeżeli Użytkownik nie uregulował wszystkich należności wobec Administratora lub naruszył regulamin Serwisu lub jakiejkolwiek usługi lub obowiązujących przepis&oacute;w prawa, a&nbsp;zachowanie danych osobowych jest konieczne dla wyjaśnienia tych okoliczności i&nbsp;określenia zakresu odpowiedzialności Użytkownika. Administrator może także przechowywać dane osobowe w zakresie niezbędnym do prowadzenia rejestru transakcji na podstawie ustawy z 16 listopada 2000 roku o przeciwdziałaniu praniu pieniędzy i finansowaniu terroryzmu.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Dane osobowe Użytkownik&oacute;w przetwarzane są zgodnie z postanowieniami ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Dane osobowe Użytkownik&oacute;w są przetwarzane na podstawie zgody samych Użytkownik&oacute;w bądź na podstawie ustawowych upoważnień zezwalających na przetwarzanie danych w celu realizacji i rozliczenia właściwych usług. Podanie danych osobowych przez Użytkownik&oacute;w jest dobrowolne, aczkolwiek jest niezbędne do realizacji usług.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Dane osobowe Użytkownik&oacute;w nie będą przez Administratora bez zgody Użytkownika udostępniane żadnym odbiorcom, z wyjątkiem podmiot&oacute;w uprawnionych do ich otrzymania z mocy obowiązujących przepis&oacute;w prawa. </span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Niekt&oacute;re dane osobowe Użytkownik&oacute;w (tj. adres poczty elektronicznej) zostają przez Administratora powierzone do przetwarzania, w trybie art. 31 ustawy o ochronie danych osobowych, FreshMail sp&oacute;łka z ograniczoną odpowiedzialnością z siedzibą w Krakowie (adres: al. 29 Listopada 155c, 31-406 Krak&oacute;w), wpisana do rejestru przedsiębiorc&oacute;w Krajowego Rejestru Sądowego przez Sąd Rejonowy dla Krakowa - Śr&oacute;dmieścia w Krakowie, XI Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS: 0000497051. Powierzenie następuje niezwłocznie po uzyskaniu tej danej przez Administratora. </span></li>
                </ol>
            </li>
        </ol>
    </ol>
</div>