<html>
<head>
    <title>
        Dokumenty SilesiaCoin
    </title>
    <style>
        .my_grid {
            margin-top: 50px;
            display: grid;
            grid-template-rows: 100px 1fr;
            justify-content: center;
            display: -ms-grid;
            -ms-grid-rows: 100px 1fr;
            -ms-grid-column-align: center;
            background: url('/assets/images/bg-silesia.png') no-repeat;
            background-size: cover;
        }
        .my_grid ul li {
            list-style-type: none;
        }
        .my_grid a {
            text-decoration: none;
            cursor: pointer;
            color: #005bbb;
        }
        @media screen and (min-width: 756px) {
            .content {
                margin-left: -400px;
            }
        }
    </style>
</head>
<body class="my_grid">
<div class="search">
    {% block search %}
        {% if is_granted('ROLE_DEVELOPER') %}
            <label for="docs_search">
                Szukaj
            </label>
            <input type="search" name="docs_search" id="docs_search">
        {% endif %}
    {% endblock search %}
</div>
<div class="content">
    <h3>
        <a href="{{ path('home') }}">Strona Główna</a>
    </h3>
    <h2> Lista dokumentów</h2>
    {% block content %}
        {% if routes is defined and routes is not null %}
            {% for route in routes %}
                <ul>
                {% if route.host == 'docs.{DOMAIN}'  %}
                    <li>
                        <a href="{{ route.path }}">
                            {{ route.path }}
                        </a>
                    </li>
                {% endif %}
                </ul>
            {% endfor %}
        {% endif %}
    {% endblock content %}
</div>
</body>
</html>