<html>
<body>
<h1>Regulamin</h1>

<h3>Regulamin OWU (Ogólne Warunki Umowy)</h3>

Prosimy zapoznać się z infromacjami zawartmi poniżej.

Regulamin i Ogólne Warunki Użytkowania Serwisu <a href="{{ path('home') }}"> {{ domain }}</a> obowiązujący od dnia
{% block date_version %}
06-03-2018
{% endblock date_version %}



<h2>§1</h2>
<h3>
Postanowienia ogólne
</h3>
<p>
Niniejszy Regulamin określa zasady korzystania z serwisu internetowego {{ domain }} oraz oferowanych za jego pośrednictwem usług.
Serwis {{ domain }} jest serwisem społecznościowym non-profit. Nie zajmujemy się wymianą, operowaniem, redystrybucją pieniędzy.
Warunkiem korzystania z Serwisu jest zapoznanie się z treścią Regulaminu oraz jego akceptacja. Akceptując Regulamin Użytkownik wyraża zgodę na jego wszystkie postanowienia i zobowiązuje się do ich przestrzegania.
Przed rozpoczęciem korzystania przez Użytkownika z Serwisu, Administrator udostępnia mu nieodpłatnie Regulamin. Treść Regulaminu może zostać utrwalona przez Użytkownika poprzez jego wydrukowanie, zapisanie na nośniku lub pobranie w każdej chwili ze strony <a href="{{ path('terms') }}">{{ url('terms') }}</a>.
</p>


<h2>§2</h2>
<h3>
Definicje
</h3>
<p>
Użyte w Regulaminie pojęcia oznaczają:<br/>

Administrator – {{ domain }}
<br/>Kryptowaluta - elektroniczny znak legitymacyjny niebędący prawnym środkiem płatniczym w Polsce i nieposiadający statusu waluty lub jakiegokolwiek innego instrumentu finansowego, w rozumieniu przepisów prawa powszechnie obowiązującego, w tym także elektronicznego instrumentu płatniczego.
<br/>Hasło – niepowtarzalny ciąg znaków ustanowiony przez Użytkownika, składający się z min. 10 liter oraz min. jednej cyfry, umożliwiający zalogowanie się do Serwisu.
<br/>Konto – Konto Użytkownika umożliwiające korzystanie z Serwisu, w szczególności zaś dokonywanie transakcji wymiany Kryptowalut.
<br/>Regulamin – niniejszy regulamin wraz z wszystkimi załącznikami stanowiącymi jego integralną część, dostępny na stronie internetowej Serwisu.
<br/>Serwis – serwis internetowy, prowadzony pod domeną {{ domain }}.
<br/>Użytkownik – pełnoletnia, posiadająca pełną zdolność do czynności prawnych osoba fizyczna, osoba prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej, która dokonała rejestracji w Serwisie.
<br/>Umowa – umowa zawarta pomiędzy Administratorem a Użytkownikiem z chwilą założenia Konta, uprawniająca Użytkownika do korzystania z usług świadczonych przez Administratora w ramach Serwisu, opisanych w <br/>§3 ust. 2 Regulaminu.
<br/>Szyfrowanie SC – Metoda kryptograficzna uniemożliwiające odczytanie danych przez osoby niepowołane
<br/>Kodeks Cywilny – ustawa z dnia 23 kwietnia 1964 roku (Dz.U. Nr 16, poz. 93 ze zm.)
</p>

<h2>§3</h2>
<h3>
Postanowienia dotyczące świadczenia przez Administratora usług drogą elektroniczną
</h3>
<p>
Administrator świadczy za pośrednictwem Serwisu usługi drogą elektroniczną na podstawie Regulaminu. Administrator nie prowadzi działalności podlegającej regulacji ustawy z dnia 29 lipca 2005 roku o obrocie instrumentami finansowymi, ani ustawy z dnia 19 sierpnia 2011 roku o usługach płatniczych.
Usługi świadczone przez Administratora polegają wyłącznie na prowadzeniu Kont Użytkowników i  kojarzeniu składanych w Serwisie ofert sprzedaży oraz zakupu Kryptowalut.
Dla prawidłowej współpracy z systemem teleinformatycznym Serwisu, system teleinformatyczny, z którego korzysta Użytkownik powinien spełniać następujące minimalne wymagania techniczne:
zapewniać dostęp do sieci Internet;
posiadać zainstalowaną przeglądarkę Internetową w najnowszej stabilnej wersji dostarczanej przez producenta;
przeglądarka Internetowa musi mieć uruchomioną obsługę Java Script i Cookies;
posiadać aktywne konto poczty elektronicznej;
zapewniać możliwość tworzenia i obsługę plików graficznych.
</p>


<h3>§4</h3>
<h2>
Weryfikacja tożsamości Użytkowników
</h2>
<p>
Użytkownicy tworzą społeczność SilesiaCoin, która umożliwia budowanie aplikacji opartych o blockchain, udostępnianie mocy obliczeniowej, możliwość założenia własnej zdecentralizowanej bazy danych.
Dokładamy wszelkich starań, aby metody kryptograficzne oraz użyte technologie zapewniały jak największy stopień uwierzytelnienia z możliwie jak najmniejszą ingerencją w tożsamość użytkowników.
Sieć blockchain SilesiaCoin jest osobnym, niepodległym łańcuchem, który opiera swoją technologię o Ethereum.
</p>
<h2>§5</h2>
<h3>
Zasady rejestracji
</h3>
<p>
Warunkiem korzystania z Serwisu jest dokonanie przez Użytkownika rejestracji za pośrednictwem formularza rejestracyjnego dostępnego na stronie internetowej <a href="{{ path('user_register_web') }}">{{ url('user_register_web') }}</a> (zwanego dalej „Formularzem Rejestracyjnym”) oraz akceptacja postanowień niniejszego Regulaminu, poprzez  zaznaczenie opcji „Akceptuję regulamin”, znajdującej się pod tym Formularzem Rejestracyjnym.
W wyniku rejestracji dla danego Użytkownika zostanie utworzone indywidualne Konto.
Konto tworzone jest wyłącznie dla danego Użytkownika i niemożliwe jest korzystanie z niego przez innych Użytkowników lub osoby trzecie.
Użytkownik zobowiązuje się do należytej ochrony Hasła ustalonego podczas rejestracji. Administrator nie ponosi odpowiedzialności za udostępnienie Hasła osobom trzecim oraz za ewentualne konsekwencje wynikłe z nienależytego jego zabezpieczenia przez Użytkownika.
</p>

<h2>§6</h2>
<h3>
Bezpieczeństwo oraz odpowiedzialność Administratora
</h3>
<p>
Administrator zastrzega, że nie jest stroną transakcji kupna-sprzedaży Kryptowalut zawieranych pomiędzy Użytkownikami Serwisu. Stronami takich transakcji są wyłącznie zawierający je Użytkownicy. Administrator nie ponosi odpowiedzialności za skutki niewykonania lub nienależytego wykonania zobowiązań podjętych wobec danego Użytkownika przez innych Użytkowników.
Pośrednictwo Administratora w przekazywaniu środków na poczet transakcji kupna i sprzedaży Kryptowalut, zawieranych pomiędzy Użytkownikami, nie upoważnia Użytkowników do dochodzenia od Administratora odsetek od wpłaconych środków.
Administrator ponosi odpowiedzialność wobec Użytkowników za niewykonanie lub nienależyte wykonanie usług świadczonych przez niego w ramach Serwisu, chyba że niewykonanie lub nienależyte wykonanie takich usług jest następstwem okoliczności, za które zgodnie z prawem lub niniejszym Regulaminem Administrator nie ponosi odpowiedzialności.
W przypadku umieszczenia w Serwisie odnośników (linków) do innych stron internetowych, Administrator zastrzega, że nie ponosi odpowiedzialności za treść zamieszczoną na tych stronach.
Administrator nie ponosi odpowiedzialności za treści zamieszczone przez Użytkowników na czacie (funkcjonalność Serwisu dostępna dla Użytkowników). Administrator zastrzega sobie prawo do usunięcia dowolnego wpisu na czacie oraz czasowego lub permanentnego blokowania danemu Użytkownikowi dostępu do czatu.
Administrator nie ponosi odpowiedzialności za straty poniesione przez Użytkowników w związku ze zmianami kursu Kryptowalut. Administrator nie gwarantuje zysków związanych z kupnem lub sprzedażą Kryptowalut. Wszelkie informacje odnośnie ceny sprzedaży, czy też zakupu Kryptowalut, pochodzą wyłącznie od Użytkowników Serwisu.
Administrator wskazuje przy tym, że wartość jednostek Kryptowaluty może podlegać nieprzewidywalnym wahaniom. Inaczej niż oficjalne waluty państwowe, których kursy są najczęściej moderowane przez właściwe rządy lub banki centralne, wartość Kryptowalut bazuje na rozwoju technologii, która bywa zawodna, oraz zaufaniu do rynku Kryptowalut, a także jego uczestników. Nie istnieje żaden podmiot zajmujący się emisją Kryptowalut ani kontrolą nad obrotem Kryptowalutami. Biorąc pod uwagę opisane ryzyko, każdy Użytkownik samodzielnie podejmuje decyzję, czy poziom ryzyka związany z transakcjami kupna i sprzedaży Kryptowalut jest dla niego akceptowalny.
Administrator podejmuje wszelkie działania niezbędne dla zapewnienia bezpieczeństwa środków pieniężnych, jak i Kryptowalut, zgromadzonych na Kontach Użytkowników, przed ich utratą lub dostępem do nich przez osoby trzecie.
Administrator podejmuje wszelkie działania konieczne do zapewnienia prawidłowego funkcjonowania Serwisu. Administrator informuje jednak, że każdy system informatyczny, także ten umożliwiający funkcjonowanie Serwisu, jest narażony na błędy i awarie. Wystąpienie błędu lub awarii może doprowadzić do czasowej niedostępności Serwisu, zgodnie z ust. 10-12 poniżej. Użytkownicy powinni korzystać z Serwisu w taki sposób, aby zminimalizować ryzyko szkody w sytuacji czasowej niedostępności Serwisu. Odpowiedzialność Administratora za taką szkodę jest wyłączona w najszerszym zakresie dopuszczalnym prawem.
W przypadku wykrycia błędu, czy też awarii Serwisu Administrator zastrzega sobie prawo do zawieszenia jego działalności, celem przywrócenia w pełni funkcjonalności Serwisu. W takiej sytuacji, informacja o zawieszeniu działania Serwisu oraz planowanym terminie jego wznowienia zostanie zamieszczona na stronach Serwisu ze stosownym wyprzedzeniem.
Każdorazowo, w przypadku gdy przerwa w działaniu serwisu trwa dłużej niż 7 (siedem) dni, za pośrednictwem wiadomości e-mail przesłanej na wskazany przez Użytkownika w Formularzu Rejestracyjnym adres e-mail, Administrator zobowiązany jest do powiadomienia Użytkownika o możliwych sposobach wypłaty zgromadzonych przez niego w ramach Kontach środków pieniężnych. W takiej sytuacji wypłata środków nastąpi w terminie 3 (trzech) dni roboczych od dnia przesłania przez Użytkownika stosownego oświadczenia na adres kontakt@{{ domain }}
W przypadku przerwy w działaniu Serwisu wynoszącej co najmniej 2 (dwa) dni, Administrator zastrzega sobie prawo do wykasowania ofert kupna i sprzedaży Kryptowalut w celu uniknięcia ewentualnych manipulacji kursem Kryptowalut.
Jednym z zagrożeń każdego użytkownika Internetu, w tym konta poczty elektronicznej, jest możliwość zainfekowania systemu teleinformatycznego przez różnego rodzaju oprogramowanie, tworzone głównie w celu wyrządzania szkód (np. wirusy czy konie trojańskie). By uniknąć zagrożeń z tym związanych, ważne jest, by Użytkownik zaopatrzył swój komputer w program antywirusowy i stale go aktualizował, instalując jego najnowsze wersje, niezwłocznie po pojawieniu się ich na rynku. Administrator informuje również, że szczególne zagrożenia związane z korzystaniem z usług świadczonych drogą elektroniczną opisanych w niniejszym Regulaminie, wiąże się z  działalnością tzw. hackerów, zmierzających do włamania się zarówno do systemu Administratora (np. ataki na jego witryny), jak i Użytkownika (np. wykradniecie Hasła). Usługobiorca przyjmuje zatem do wiadomości, że mimo stosowania przez Administratora rozmaitych, nowoczesnych technologii obronnych nie jest możliwe całkowite wykluczenie opisanego ryzyka.
</p>


<h2>§7
</h2>
<h3>
Odpowiedzialność Użytkowników
</h3>
<p>
Użytkownik korzysta z Serwisu na własne ryzyko co nie wyłącza ani nie ogranicza odpowiedzialności Administratora związanej ze świadczeniem w ramach Serwisu usług, w zakresie w jakim z mocy prawa nie może ona podlegać wyłączeniu ani ograniczeniu.
Użytkownik przyjmuje do wiadomości fakt, iż wszelka korespondencja kierowana do niego przez Administratora adresowana będzie na adres poczty elektronicznej wskazany w Formularzu Rejestracyjnym. W przypadku jego zmiany i braku powiadomienia o tym fakcie Administratora  korespondencja będzie kierowana na wyżej wymieniony adres e-mail ze skutkiem doręczenia.
Użytkownik, korzystając z Serwisu zobowiązany jest w szczególności do:
niedostarczania i nieprzekazywania treści zabronionych przez przepisy prawa, w tym w szczególności treści obraźliwych lub wulgarnych, nawołujących do przemocy lub innych działań sprzecznych z prawem lub dobrymi obyczajami, albo które naruszają dobra osobiste i inne prawa osób trzecich,
korzystania z Serwisu w sposób zgodny z jego przeznaczeniem i niezakłócający jego funkcjonowania, a także w sposób nieuciążliwy dla pozostałych Użytkowników Serwisu,
niewykorzystywania Serwisu do przesyłania lub zamieszczania w ramach Serwisu niezamówionej informacji handlowej (spamu),
korzystania z wszelkich treści zamieszczonych na stronach internetowych Serwisu wyłącznie dla swojego użytku,
korzystania z Serwisu w sposób zgodny z Regulaminem, właściwymi przepisami prawa oraz ogólnymi zasadami korzystania z Internetu (netykietą),
korzystania z Serwisu w dobrej wierze; jeżeli Użytkownik wykryje błąd lub lukę w systemie winien bezzwłocznie, w przeciągu 24 godzin zgłosić to obsłudze Serwisu poprzez formularz kontaktowy lub na adres kontakt@{{ domain }}.pl; wykorzystanie jakichkolwiek luk i błędów w działaniu Serwisu jest równoznaczne ze złamaniem niniejszego Regulaminu i skutkować będzie zablokowaniem konta oraz wyciągnięciem stosownych konsekwencji prawnych.
Każdorazowe naruszenie postanowień Regulaminu będzie skutkowało zablokowaniem Konta danego Użytkownika po wcześniejszym wezwaniu Użytkownika do zaprzestania naruszeń w terminie 3 (trzech) dni od otrzymania wezwania i bezskutecznym jego upływie.
</p>


<h2>§9
</h2>
<h3>
Zasady przetwarzania danych osobowych
</h3>
<p>
Administrator, jako administrator danych osobowych, zobowiązuje się podjąć wszelkie konieczne środki techniczne i organizacyjne odpowiednie do stopnia zagrożenia, w celu zapewnienia bezpieczeństwa wszystkich danych i treści przekazywanych przez Użytkowników w związku z korzystaniem przez nich z Serwisu.
Szczegółowe zasady dotyczące przetwarzania danych osobowych Użytkowników oraz wymagane prawem informacje zawiera Polityka Prywatności, WhitePaper, YellowPaper
</p>

<h2>§10
</h2>
<h3>
Postanowienia końcowe
</h3>
<p>
W kwestiach nieregulowanych postanowieniami niniejszego Regulaminu zastosowanie znajdą odpowiednie przepisy prawa polskiego.
Niniejszy Regulamin może ulec zmianie, z tym zastrzeżeniem, że Administrator zobowiązuje się poinformować Użytkowników o planowanych zmianach Regulaminu nie później niż 7 (siedem) dni przed ich wprowadzeniem, poprzez zamieszczenie stosownej informacji widocznej po zalogowaniu do Serwisu, z prośbą o potwierdzenie przez Użytkownika akceptacji nowej treści Regulaminu. Brak zgody Użytkownika na proponowane zmiany Regulaminu jest równoznaczny z rozwiązaniem Umowy.
Rozstrzyganie ewentualnych sporów pomiędzy Administratorem a Użytkownikiem, który jest konsumentem w rozumieniu art. 221 Kodeksu Cywilnego, zostaje poddane sądom powszechnym według właściwości wynikającej z przepisów Kodeksu postępowania cywilnego.
Rozstrzyganie ewentualnych sporów pomiędzy Administratorem a Użytkownikiem, który nie jest konsumentem w rozumieniu art. 221 Kodeksu Cywilnego, zostaje poddane sądom powszechnym właściwym ze względu na siedzibę Administratora.
Żadne z postanowień niniejszego Regulaminu nie wyłącza i nie ogranicza w niczym praw przysługujących konsumentom na mocy prawa powszechnie obowiązującego. Jakiekolwiek postanowienie zakazane w relacji z konsumentami nie będzie się stosowało do Użytkowników będących konsumentami.
Znaki towarowe, logo oraz inne oznaczenia a także teksty widoczne w Serwisie stanowią własność Administratora lub jego partnerów handlowych i objęte są ochroną wynikającą z praw autorskich.
</p>

<h2>$11
</h2>
<h3>
    Licencje materiałów wykorzystywanych na stronie
</h3>
<p>
    <a href="https://www.freepik.com/free-photos-vectors/infographic">Infographic vector created by naulicreative - www.freepik.com</a>
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</p>
</body>
</html>
