<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Silesiacoin.org Maintenance</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <!-- FONTS -->
    <link rel='stylesheet' id='Roboto-css' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' id='Patua+One-css' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body class="nice-scroll-on error404 color-blue layout-full-width header-modern subheader-transparent sticky-header sticky-white subheader-title-left">
<div id="Error_404">

    <div class="container">
        <div class="column one">
            <div class="error_pic">
                <span><i class="glyphicon glyphicon-console"></i></span>

            </div>
            <div class="error_desk">
                {% block maintenance %}
                    <h2>Nie znaleziono</h2>
                    <h4>Podany zasób nie istnieje. </h4>
                {% endblock maintenance %}
                {% block error %}
                    {% if language is defined %}
                        <h3> English or German version is not avalible at the moment. <br/>
                            Englisch oder deutsche Version ist zur Zeit nicht verfügbar.
                        </h3>
                        <a href="{{ path('home', {'language':'null'}) }}">Go back</a>
                    {% endif %}
                {% endblock error %}
                <p>
                    <span class="check">Stay tuned! <br/><a href="https://silesiacoin.org/">Silesiacoin.org</a> team</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>
