{% extends 'bundles/TwigBundle/Exception/baseerror.html.twig' %}
{% block maintenance %}
    <h2>Zablokowano</h2>
    <h4>Nie masz dostępu do tej części strony. </h4>
{% endblock maintenance %}
{% block error %}
    You are not worthy enough.
{% endblock error %}