.modal__ssc {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1010;
}

.modal__ssc [modalClose='true'] {
    position: absolute;
    top: 12%;
    right: 12%;
    z-index: 10;
}

.modal__ssc [modalClose='true']:hover {
    cursor: pointer;
    color: #ffd500;
}
