:root {
    --modal-blue: #2642a9;
    --white: #FFFFFF;
    --midnight-purple-two: #1f003f;
    --dark-yellow: #e7b41d;
    --cobalt-blue: #0025aa;
    --alert-red: #ff1200;
    --apple-green: #7ed321;
    --shadow-avatar: rgba(157, 157, 157, 0.5);
}
@media (min-width: 768px){
    .modal-height{
        min-height: 357px;
    }
    .modal-dialog{
        min-width: 700px;
    }
    .modal-image{
        display: block;
        border-radius: 0 0 0 8px;
        width: 100%;
    }
}
@media (max-width: 767px){
    .modal-image{
        display: none;
        border-radius: 0 0 0 8px;
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .modal-height{
        min-height: 333px;
    }
}
@media (max-width: 575px){
    .modal-button--margin{
        margin-top: 216px;
    }
    .modal-text--small{
        font-size: 14px;
        font-weight: normal;
    }
    .modal-alert--green{
        font-size: 14px;
        color: var(--apple-green);
    }
    .modal-height{
        min-height: 328px;
    }
    .modal-alert--red{
        font-size: 14px;
        color: var(--alert-red);
    }
    .modal-header__title--font-sm{
        font-size: 24px;
    }
    .display-desktop{
        display: none;
    }
    .modal-header{
        border-radius: 0!important;
    }
    .modal-dialog{
        margin: 0!important;
    }
    .modal-content{
        border: none!important;
        border-radius: 0!important;
    }
}
@media (min-width: 576px){
    .modal-button--margin{
        margin-top: 221px;
    }
    .modal-header__title--font-sm{
        font-size: 36px;
    }
    .modal-alert--green{
        font-size: 18px;
        color: var(--apple-green);
    }
    .modal-alert--red{
        font-size: 16px;
        color: var(--alert-red);
    }
    .modal-text--small{
        font-size: 16px;
        font-weight: normal;
    }
    .modal-header__title--padding{
        padding-right: 50px;
    }
    .display-desktop{
        display: block;
    }
    .modal-content{
        border: none!important;
        border-radius: 8px!important;
    }
}
.modal-title{
    width: 100%;
}
.modal-alert--red-sm{
    color: var(--alert-red);
    font-size: 12px;
    position: absolute;
}
.modal-alert--yellow-sm{
    color: var(--dark-yellow);
    font-size: 12px;
    position: absolute;
}
.modal-alert--green-sm{
    color: var(--apple-green);
    font-size: 12px;
    position: absolute;
}
.modal-header__subtitle{
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
}
.close{
    box-shadow: none!important;
    color: var(--white)!important;
    opacity: 1!important;
}
.modal-input{
    border-radius: 0!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: solid 1px var(--midnight-purple-two)!important;
    padding-left: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    color: var(--midnight-purple-two)!important;
    background-color: transparent!important;
}
.modal-input:focus{
    border-bottom: solid 1px var(--dark-yellow)!important;
}
.modal-header{
    background-color: var(--modal-blue);
    color: var(--white);
    border: none!important;
    opacity: 1!important;
    overflow: hidden!important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    min-height: 123px;
}
.modal-header__title{
    font-family: HKGrotesk, sans-serif;
    font-weight: 600;
}
.modal-header__title--font-bg{
    font-size: 36px;
}
.modal-header__text{
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.modal-button{
    font-family: Avenir, sans-serif!important;
    font-weight: 500!important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
    display: inline-block!important;
    background-color: transparent!important;
}
.modal-button-action{
    border: none;
    width: 34px;
    height: auto;
    cursor: pointer;
}
.form-bonus-padding{
    padding-top: 52px;
}
.modal-button--yellow{
    border: solid 1px var(--dark-yellow)!important;
    color: var(--dark-yellow)!important;
    font-size: 12px!important;
    border-radius: 12px!important;
    height: 30px!important;
}
.modal-button--authenticator{
    border: solid 1px var(--cobalt-blue)!important;
    color: var(--cobalt-blue)!important;
    font-size: 14px!important;
    border-radius: 12px!important;
    padding: 0.5rem 1.8rem;
    margin-top: 38px;
}
.modal-button--authenticator:hover{
    background-color: var(--cobalt-blue)!important;
    color: var(--white)!important;
}
.modal-button--blue{
    width: 100%;
    border: solid 1px var(--cobalt-blue);
    color: var(--cobalt-blue);
    font-size: 14px;
    border-radius: 8px;
    height: 40px;
}
.modal-button--blue:hover{
    background-color: var(--cobalt-blue)!important;
    color: var(--white);
}
.modal-alert{
    font-family: Dosis, sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.modal-header__sign-up-using{
    font-family: HKGrotesk, sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.modal-info{
    font-family: HKGrotesk, sans-serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
}
.modal-info--sm{
    font-size: 12px;
}
.modal-info--bg{
    font-size: 14px;
}
.modal-icons{
    width: 35px;
    height: 35px;
}
.modal-header__bar{
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 4px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(157, 157, 157, 0.5);
}
.modal-header__bar__progress{
    display: flex;
    flex-direction: column;
    transition: width .6s ease;
}
.modal-header__bar__progress--first{
    width: 33%;
    background-color: var(--apple-green);
}
.modal-header__bar__progress--second{
    width: 66%;
    background-color: var(--apple-green);
}
.modal-header__bar__progress--third{
    width: 100%;
    background-color: var(--apple-green);
}
.modal-text{
    font-family: HKGrotesk, sans-serif;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--midnight-purple-two);
}
.modal-text--bg{
    font-size: 18px;
    font-weight: 600;
}
.modal-key{
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: var(--light-gray);
}
.modal-wallet-squares{
    margin-top: -2px;
    position: absolute;
    right: -48px;
}
