.modal__ssc--reflink {
    position: absolute;
    top: 10%;
    padding: 40px;
    left: calc(10%);
    height: 80%;
    width: 80%;
    background: white url("https://s3-eu-west-1.amazonaws.com/images.ssc/website/bg-silesia.png") no-repeat center;
    background-size: cover;
    border-radius: 5px;
    -webkit-box-shadow: 9px 10px 6px -3px rgba(204,204,204,0.4);
    -moz-box-shadow: 9px 10px 6px -3px rgba(204,204,204,0.4);
    box-shadow: 9px 10px 6px -3px rgba(204,204,204,0.4);
    overflow: hidden;
}

.modal__ssc--reflink label {
    width: 100%;
    margin: 20px;
}

@media screen and (min-width: 756px) {
    .modal__ssc--reflink iframe {
        width: 100%;
        height: 70%;
        border: none;
    }

    .modal__ssc--reflink input[type=text] {
        width: 500px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 756px) {
    .modal__ssc--reflink iframe {
        display: none;
    }

    .modal__ssc--reflink input[type=text] {
        width: 200px;
        border-radius: 5px;
    }
}



