{% extends 'base.html.twig' %}
{% block title %}
    {% if title is defined %}
        {{ title }}
    {% endif %}
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/download/downloadPage.css') }}">
{% endblock stylesheets %}
{% block body %}
    <div class="downloadBody">
        {% block menu %}
            <div class="downloadBody__menu bg-blue">
                <div class="downloadBody__menu--title">Silesiacoin GO</div>
                <div class="downloadBody__menu--items">
                    <a href="#" class="install">Instalacja</a>
                    <a href="#" class="download themeButton">Pobierz</a>
                </div>
            </div>
        {% endblock menu %}
        {% block currentVersion %}
            {% block currentVersionTitle %}
                <div class="downloadBody__currentVersion">
                    {% if currentVersion is defined and currentVersion is not empty %}
                        <div class="downloadBody__currentVersion--header">
                            <img src="{{ asset('assets/images/symbol/silesiacoin_micro.png') }}" style="height: 60px;">
                            {{ currentVersion.title|raw }}
                        </div>
                        <div class="downloadBody__currentVersion--body">
                            {{ currentVersion.body|raw }}
                        </div>
                        <div class="downloadBody__currentVersion--buttons">
                            {% for key, value in currentVersion.latest %}
                                <h2>{{ key|raw }}</h2>
                                {% for build, version in value %}
                                    <a href="{{ version.sayDownloadUrl() }}"
                                       class="themeButton bg-blue downloadButton"
                                       target="_blank"
                                    ><i class="{{ version.sayIcon()|raw }}">&nbsp;</i>{{ build|raw }}</a>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endblock currentVersionTitle %}
        {% endblock currentVersion %}
        {% block links %}
        {% endblock links %}
    </div>
{% endblock body %}
{% block javascripts %}
{% endblock javascripts %}