<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>
        {% block title %}
            Szczyńść Boże!
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/auth.css') }}">
        <script
                src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    <div class="login-grid">
        {% block form %}
        {% endblock form %}
    </div>
</div>
</body>
</html>
