{% extends 'User/baseauth.html.twig' %}
{% block form %}
    <div class="login-container">
        <img src="{{ asset('assets/images/descr/silesiacoin_sm.png') }}">
        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
        <div class="social-media-buttons">
            <a href="{{ social.facebook_url }}" class="facebookButton">
            </a>
            <a href="{{ social.google_url }}" class="googleButton">
            </a>
        </div>
        {% endif %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('user_login_web') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
                {#If you want to control the URL the user#}
                {#is redirected to on success (more details below)#}
{#            <input type="hidden" name="_target_path" value="/" />#}
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            <button type="submit">login</button>
            <p>
                Nie masz konta?
                <a href="{{ path('user_register_web') }}" style="text-decoration: none; color: #ffd500">Zarejestruj</a>
            </p>
        </form>
    </div>

{% endblock form %}