{% extends 'User/baseauth.html.twig' %}
{% block form %}
    <div class="login-container">
        <img src="{{ asset('assets/images/descr/silesiacoin_sm.png') }}">
        {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
            <div class="social-media-buttons">
                <a href="{{ social.facebook_url }}" class="facebookButton">
                    {% if is_granted('ROLE_FACEBOOK') %}
                        <img src="{{ asset('assets/images/icons/Check-mark.png') }}" class="check-granted">
                    {% endif %}
                </a>
                <a href="{{ social.google_url }}" class="googleButton">
                </a>
            </div>
        {% endif %}
        {% if error is defined and error is not null %}
            <div class="error">
                {{ error.message }}
            </div>
        {% endif %}
        {{ form_start(form) }}
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second) }}
        <label class="regulamin">
            Akceptuję <a href="{{ path('terms') }}">Regulamin</a>
            {{ form_widget(form.tou) }}
        </label>

        {{ form_label(form.register) }}
        {{ form_widget(form.register) }}
        {{ form_end(form) }}
        <p>
            Masz już konto?
            <a href="{{ path('user_login_web') }}" style="text-decoration: none; color: #ffd500">Zaloguj</a>
        </p>
    </div>
    {% block script_for_register %}
        <script>
            $("#register_form_username").focus(function () {
               $('.required').removeClass('invisible');
               $(':input').removeClass('invisible');
            });
        </script>
    {% endblock script_for_register %}
{% endblock form %}